<footer>
  <!--Desktop-->
    <div class="uk-container uk-visible@m">
      <div class="uk-flex uk-flex-center" uk-grid>
        <div class="uk-width-1-2">
          <div class="uk-flex uk-flex-center" uk-grid>
            <div class="uk-width-1-2">
              <ul class="uk-list list-footer">
                <li><img class="logo-footer-70" data-src="../assets/images/logo-footer.svg" uk-img></li>
                <li><a href="#">{% t navbar.item_1 %}</a></li>
                <li><a href="#">{% t navbar.item_2 %}</a></li>
                <li><a href="#">{% t navbar.item_3 %}</a></li>
                <li><a href="#">{% t navbar.item_4 %}</a></li>
              </ul>
            </div>
            <div class="uk-width-1-2">
              <ul class="uk-list">
                <li><p class="font-mono">{% t footer.fci %}</p></li>
                <li>
                  <a class="logo-footer-fci" href="https://ciudadaniai.org" target="_blank">
                    <svg width="150" height="52" viewBox="0 0 177 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M50.5234 18.668C50.9902 19.3066 51.5898 19.8105 52.29 20.1816C52.7725 20.4355 53.2871 20.5938 53.8442 20.6699C54.0947 20.7031 54.354 20.7188 54.6226 20.7188C55.4224 20.7188 56.1226 20.5508 56.7222 20.248C57.3223 19.9453 57.8555 19.5078 58.3223 18.9375L58.522 20.4492H61.8213V0H58.1221V7.33203C57.689 6.82812 57.189 6.45703 56.6226 6.18945C56.3027 6.03711 55.9512 5.92773 55.5737 5.86133C55.3896 5.83008 55.1992 5.80859 55.0034 5.79688C54.8896 5.78906 54.7739 5.78516 54.6562 5.78516C53.7563 5.78516 52.9897 5.95312 52.29 6.32422C51.9131 6.52344 51.5747 6.75195 51.2646 7.02539C51.1294 7.14453 50.9995 7.27344 50.874 7.41016C50.7534 7.54297 50.6367 7.68555 50.5234 7.83789C50.354 8.05469 50.1997 8.28711 50.061 8.53516C49.7905 9.01562 49.5781 9.55859 49.4238 10.1582C49.1572 11.0664 49.0571 12.0742 49.0571 13.1504V13.4199C49.0571 13.8789 49.083 14.3242 49.1318 14.7578C49.1631 15.0371 49.2041 15.3105 49.2539 15.5801C49.3022 15.8418 49.3594 16.0977 49.4238 16.3477C49.6572 17.2207 50.0234 17.9941 50.5234 18.668ZM52.6899 13.1504C52.6899 12.5469 52.7563 11.9746 52.8564 11.4355C52.9565 10.8984 53.123 10.4609 53.3564 10.0566C53.4697 9.86133 53.5986 9.68945 53.7432 9.53711C53.8965 9.375 54.0674 9.23633 54.2563 9.11523C54.6226 8.87891 55.0562 8.7793 55.5894 8.7793C56.2227 8.7793 56.7222 8.91406 57.1558 9.18164C57.5557 9.45117 57.8887 9.82227 58.1553 10.3262V16.1777C58.0552 16.3809 57.937 16.5645 57.8003 16.7324C57.7134 16.8379 57.6191 16.9375 57.5176 17.0312C57.4058 17.1348 57.2852 17.2305 57.1558 17.3223C56.8989 17.4824 56.6187 17.5938 56.3013 17.6602L56.1284 17.6934L55.9546 17.7129C55.8379 17.7227 55.7163 17.7266 55.5894 17.7266C55.0562 17.7266 54.6226 17.625 54.2563 17.3887C54.0342 17.2461 53.8364 17.0801 53.6631 16.8867C53.5503 16.7617 53.4482 16.627 53.3564 16.4805C53.123 16.1113 52.9565 15.6406 52.8564 15.1367C52.7563 14.6309 52.6899 14.0586 52.6899 13.4531V13.1504ZM22.3291 3.76758C22.5288 3.93555 22.729 4.07031 22.9956 4.17188L23.0542 4.19141L23.1157 4.21094L23.2197 4.24023C23.29 4.25781 23.3613 4.27148 23.4351 4.28125C23.5674 4.29883 23.7075 4.30664 23.8618 4.30664C24.5283 4.30664 25.0283 4.13867 25.4282 3.76758C25.6519 3.54297 25.8135 3.2793 25.9058 2.97852C25.9644 2.78516 25.9946 2.57812 25.9946 2.35547C25.9946 1.7832 25.7949 1.3125 25.4282 0.943359C25.0615 0.572266 24.5283 0.404297 23.8618 0.404297C23.6943 0.404297 23.5439 0.414062 23.4019 0.435547L23.3271 0.447266L23.2075 0.472656C23.1362 0.490234 23.0659 0.511719 22.9956 0.539062C22.729 0.640625 22.5288 0.773438 22.3291 0.943359C22.1289 1.11133 21.9956 1.3125 21.8955 1.58203C21.8525 1.68359 21.8159 1.79102 21.7876 1.9043C21.7505 2.05469 21.729 2.2168 21.729 2.38867C21.729 2.46875 21.7349 2.54883 21.7456 2.62891C21.7539 2.6875 21.7646 2.74609 21.7778 2.80469C21.8066 2.93555 21.8472 3.06641 21.8955 3.19531C21.9956 3.39844 22.1289 3.59961 22.3291 3.76758ZM29.5615 17.457H25.6953V6.05469H17.9302V9.08203H21.9961V17.457H17.9302V20.4512H29.5615V17.457ZM36.293 20.416C35.6597 20.1816 35.1265 19.8105 34.6934 19.3066C34.2598 18.8027 33.8936 18.1641 33.6602 17.3906C33.5586 17.0527 33.4761 16.6836 33.415 16.2852C33.3359 15.7695 33.2935 15.2051 33.2935 14.5977V6.05469H36.9595V14.5645C36.9595 15.1367 36.9927 15.6406 37.0928 16.0449C37.1265 16.25 37.1777 16.4375 37.2461 16.6035L37.2915 16.7051L37.3457 16.8086C37.3901 16.8867 37.439 16.957 37.4927 17.0195C37.6177 17.1875 37.7559 17.3164 37.9155 17.416C38.0107 17.4746 38.1138 17.5215 38.2261 17.5586C38.5259 17.6582 38.8926 17.7266 39.3257 17.7266C40.0254 17.7266 40.6255 17.5918 41.0918 17.3223C41.2515 17.2227 41.4019 17.1094 41.54 16.9805C41.7773 16.7617 41.9775 16.498 42.125 16.1797V6.05469H45.8242V20.4844H42.4917L42.292 18.4668C41.8252 19.1719 41.2251 19.7441 40.5586 20.1484C39.8921 20.5508 39.1255 20.7539 38.3257 20.7539C38.0352 20.7539 37.75 20.7383 37.4746 20.7051C37.374 20.6934 37.2744 20.6777 37.1763 20.6602L36.958 20.6172L36.7036 20.5547L36.5352 20.5039L36.4121 20.459L36.293 20.416ZM70.2534 20.7539C69.52 20.7539 68.8535 20.6191 68.2539 20.416C67.6538 20.2148 67.1206 19.9121 66.6543 19.5078C66.4385 19.3086 66.2397 19.0996 66.0654 18.875C65.9556 18.7324 65.8555 18.582 65.7671 18.4238C65.7314 18.3594 65.6978 18.2949 65.6665 18.2285L65.6211 18.1289C65.3877 17.625 65.2544 17.0195 65.2544 16.4141C65.2544 14.9004 65.8208 13.7227 66.9541 12.8828C68.0874 12.041 69.7534 11.6387 71.9863 11.6387H74.0195V10.7969C74.0195 10.0918 73.7861 9.55273 73.353 9.14844C72.9194 8.74609 72.2529 8.54297 71.4199 8.54297C70.6865 8.54297 70.1201 8.67773 69.7871 9.01367C69.4536 9.35156 69.2871 9.78906 69.2871 10.3262H65.6211L65.6216 10.2617L65.6279 10.0879L65.6372 9.96484C65.646 9.86523 65.6582 9.76562 65.6748 9.66602L65.7139 9.46094C65.7476 9.30469 65.7905 9.15234 65.8423 9.00391C65.8931 8.85938 65.9526 8.7168 66.021 8.57812C66.0835 8.45117 66.1533 8.32617 66.2305 8.20508C66.3335 8.04102 66.4487 7.88281 66.5757 7.73242L66.7261 7.5625L66.8213 7.46094L66.9741 7.31445C67.043 7.25 67.1143 7.18945 67.1875 7.13086C67.7207 6.69336 68.354 6.35742 69.0869 6.12109C69.8535 5.88672 70.6865 5.75195 71.6533 5.75195C72.1606 5.75195 72.645 5.79688 73.1069 5.875C73.4336 5.93164 73.749 6.00391 74.0527 6.08789C74.7861 6.29102 75.4526 6.62695 75.9858 7.0293C76.519 7.43359 76.9521 7.97266 77.252 8.61133C77.5522 9.25 77.7188 9.99023 77.7188 10.8301V17.0195C77.7188 17.2266 77.7212 17.4238 77.7266 17.6113L77.7393 17.9258L77.7593 18.2324C77.7803 18.4922 77.8101 18.7266 77.8521 18.9375C77.9521 19.4414 78.0854 19.8789 78.2852 20.248V20.4844H74.5527C74.4526 20.3164 74.3862 20.1133 74.3193 19.8789C74.2529 19.6426 74.186 19.4082 74.1528 19.1387C73.9526 19.375 73.7192 19.5762 73.4526 19.7773C73.186 19.9805 72.9194 20.1484 72.5864 20.2832C72.4365 20.3438 72.2871 20.3965 72.1313 20.4453C71.9404 20.5059 71.7402 20.5625 71.52 20.6191C71.4268 20.6426 71.3315 20.6621 71.2349 20.6777C71.1421 20.6934 71.0479 20.707 70.9526 20.7168C70.8086 20.7344 70.6631 20.7441 70.5166 20.75L70.2534 20.7539ZM69.7202 14.5312C69.4536 14.7324 69.2871 14.9688 69.1538 15.2363C69.0205 15.5059 68.9536 15.8086 68.9536 16.1113C68.9536 16.6152 69.1538 17.0195 69.4868 17.3555C69.6436 17.5137 69.8442 17.6348 70.0859 17.7188C70.3584 17.8145 70.6826 17.8613 71.0532 17.8613C71.2129 17.8613 71.3667 17.8555 71.5166 17.8398C71.7104 17.8184 71.8984 17.7832 72.0864 17.7266C72.4199 17.6582 72.6865 17.5234 72.9531 17.3906C73.2197 17.2559 73.4194 17.0879 73.6196 16.918C73.7861 16.75 73.9526 16.582 74.0527 16.3809V13.8926H72.1865C71.6196 13.8926 71.1201 13.959 70.7202 14.0605C70.3203 14.1602 69.9868 14.3281 69.7202 14.5312ZM84.7178 20.1816C85.4175 20.5508 86.1841 20.7188 87.0503 20.7188C87.8501 20.7188 88.5503 20.5508 89.1499 20.248C89.75 19.9453 90.2832 19.5078 90.75 18.9375L90.9497 20.4492H94.249V0H90.5498V7.33203C90.3174 7.0625 90.0659 6.83008 89.7949 6.63086L89.6694 6.54102C89.5986 6.49219 89.5259 6.44727 89.4526 6.40234C89.3228 6.32422 89.1885 6.25391 89.0503 6.18945C88.7568 6.05078 88.437 5.94727 88.0947 5.87891L87.8809 5.8418C87.7725 5.82617 87.6626 5.8125 87.5508 5.80273C87.4531 5.79492 87.354 5.78906 87.2534 5.78711L87.084 5.78516C86.1841 5.78516 85.4175 5.95312 84.7178 6.32422C84.0176 6.69336 83.4512 7.16406 82.9512 7.83789C82.4512 8.47656 82.085 9.25 81.8516 10.1582C81.7656 10.4512 81.6968 10.7539 81.6436 11.0664L81.606 11.3027L81.5806 11.4902C81.561 11.6406 81.5454 11.7949 81.5322 11.9512C81.4995 12.3398 81.4849 12.7402 81.4849 13.1504V13.4199C81.4849 14.4629 81.6182 15.4395 81.8516 16.3477C82.1182 17.2539 82.4849 17.9941 82.9512 18.668C83.187 18.9688 83.4375 19.2402 83.71 19.4824C84.0151 19.7539 84.3477 19.9863 84.7178 20.1816ZM85.1509 13.1504C85.1509 12.9512 85.1582 12.7559 85.1714 12.5645C85.1982 12.1738 85.2505 11.7969 85.3174 11.4355C85.4175 10.8984 85.584 10.4609 85.8174 10.0566C85.9067 9.90234 86.0059 9.76172 86.1152 9.63477C86.2905 9.43164 86.4912 9.25977 86.7173 9.11523C86.7876 9.07031 86.8604 9.0293 86.9355 8.99414L87.0396 8.94727L87.145 8.9082C87.4121 8.81836 87.7109 8.7793 88.0503 8.7793C88.2603 8.7793 88.4556 8.79492 88.6387 8.82422C89.0078 8.88281 89.3271 9.00195 89.6167 9.18164C89.6753 9.2207 89.7329 9.26367 89.7886 9.30859L89.8779 9.38086L89.9854 9.47852C90.2261 9.70703 90.4365 9.98633 90.6167 10.3262V16.1777C90.3833 16.6504 90.0498 17.0195 89.6167 17.3223C89.1836 17.5918 88.6836 17.7266 88.0503 17.7266C87.5171 17.7266 87.084 17.625 86.7173 17.3887C86.3506 17.1543 86.0508 16.8516 85.8174 16.4805C85.7002 16.2949 85.6001 16.084 85.5166 15.8574C85.4336 15.6309 85.3672 15.3887 85.3174 15.1367C85.2173 14.6309 85.1509 14.0586 85.1509 13.4531V13.1504ZM110.179 10.8301V17.0195C110.179 17.793 110.212 18.4316 110.279 18.9375C110.379 19.4414 110.512 19.8789 110.712 20.248V20.4844H106.98C106.88 20.3164 106.813 20.1133 106.747 19.8789C106.68 19.6426 106.613 19.4082 106.58 19.1387C106.475 19.2617 106.361 19.377 106.238 19.4863C106.126 19.5859 106.007 19.6816 105.88 19.7773C105.76 19.8691 105.641 19.9531 105.515 20.0293C105.361 20.125 105.197 20.209 105.014 20.2832C104.68 20.416 104.347 20.5176 103.947 20.6191C103.547 20.7188 103.114 20.7539 102.681 20.7539C102.298 20.7539 101.935 20.7168 101.589 20.6543C101.271 20.5957 100.968 20.5137 100.681 20.416C100.381 20.2988 100.097 20.1641 99.8345 20.0117C99.6802 19.9238 99.5327 19.8281 99.394 19.7266C99.2969 19.6562 99.2036 19.584 99.1147 19.5078C98.6812 19.1055 98.3149 18.668 98.0815 18.1289C98.0488 18.0586 98.0181 17.9863 97.9893 17.9121C97.9253 17.7461 97.8716 17.5723 97.8291 17.3926C97.8091 17.3086 97.7915 17.2227 97.7769 17.1348C97.7363 16.8984 97.7148 16.6562 97.7148 16.4141C97.7148 15.7734 97.8169 15.1914 98.0205 14.6699C98.2969 13.9629 98.7617 13.3672 99.4146 12.8828C100.071 12.3945 100.907 12.0547 101.928 11.8555C102.669 11.7109 103.508 11.6387 104.447 11.6387H106.48V10.7969C106.48 10.0918 106.247 9.55273 105.813 9.14844C105.38 8.74609 104.713 8.54297 103.88 8.54297C103.147 8.54297 102.581 8.67773 102.247 9.01367C101.914 9.35156 101.748 9.78906 101.748 10.3262H98.0815C98.0815 9.7207 98.2148 9.11523 98.4814 8.57812C98.748 8.03906 99.1479 7.53516 99.6479 7.13086C100.181 6.69336 100.814 6.35742 101.547 6.12109C102.314 5.88672 103.147 5.75195 104.114 5.75195C104.98 5.75195 105.78 5.88672 106.513 6.08789C106.888 6.19141 107.245 6.33008 107.576 6.49414L107.764 6.5918L107.993 6.72266C108.152 6.82031 108.304 6.92188 108.446 7.0293C108.979 7.43359 109.413 7.97266 109.712 8.61133C110.013 9.25 110.179 9.99023 110.179 10.8301ZM106.138 16.791L106.252 16.6699C106.342 16.5703 106.422 16.4648 106.48 16.3477V13.8242H104.614C104.047 13.8242 103.547 13.8926 103.147 13.9922C102.747 14.0938 102.414 14.2617 102.147 14.4629C101.881 14.666 101.714 14.9004 101.581 15.1699C101.447 15.4395 101.381 15.7422 101.381 16.0781C101.381 16.2773 101.412 16.4609 101.47 16.6309C101.56 16.8906 101.712 17.1191 101.914 17.3223C102.11 17.5195 102.375 17.6602 102.703 17.7422C102.813 17.7695 102.931 17.791 103.055 17.8047L103.239 17.8203C103.317 17.8242 103.398 17.8262 103.48 17.8262C103.652 17.8262 103.817 17.8184 103.978 17.8008C104.075 17.791 104.171 17.7754 104.267 17.7559C104.35 17.7383 104.432 17.7188 104.514 17.6934C104.611 17.6738 104.703 17.6484 104.791 17.6172L104.953 17.5566C105.102 17.4961 105.241 17.4258 105.38 17.3555C105.528 17.2812 105.656 17.1953 105.774 17.1055L105.871 17.0293L106.046 16.8848L106.138 16.791ZM117.978 10.2246C118.244 9.78711 118.611 9.41797 119.044 9.18164C119.477 8.91211 120.01 8.8125 120.644 8.8125C121.077 8.8125 121.443 8.8457 121.777 8.94727C122.11 9.04688 122.41 9.18164 122.643 9.38281C122.783 9.50391 122.911 9.66211 123.013 9.84766C123.081 9.97266 123.137 10.1094 123.177 10.2578C123.246 10.4492 123.296 10.668 123.33 10.9121C123.361 11.1406 123.376 11.3945 123.376 11.6699V20.4824H127.042V11.6035C127.042 11.166 127.019 10.752 126.974 10.3672C126.913 9.83398 126.811 9.35547 126.676 8.94727C126.442 8.20703 126.109 7.60156 125.643 7.16406C125.209 6.69336 124.676 6.35742 124.076 6.1543C123.732 6.03906 123.366 5.94531 122.984 5.88672C122.701 5.8418 122.408 5.81836 122.11 5.81836C121.21 5.81836 120.41 6.01953 119.677 6.42383C118.944 6.82812 118.311 7.36523 117.811 8.10547L117.644 6.05469H114.312V20.4824H117.978V10.2246ZM131.309 6.05469H139.274V17.457H143.373V20.4512H131.309V17.457H135.574V9.08203H131.309V6.05469ZM142.439 0.537109H138.407L135.941 4.27148H138.774L142.439 0.537109ZM158.836 10.8301V17.0195C158.836 17.793 158.87 18.4316 158.937 18.9375C159.036 19.4414 159.169 19.8789 159.37 20.248V20.4844H155.637C155.572 20.375 155.521 20.252 155.476 20.1133C155.451 20.0391 155.427 19.9609 155.404 19.8789C155.367 19.748 155.33 19.6191 155.299 19.4824C155.273 19.373 155.252 19.2598 155.237 19.1387C155.037 19.375 154.804 19.5762 154.537 19.7773C154.411 19.873 154.285 19.9609 154.152 20.043C154.003 20.1328 153.846 20.2129 153.671 20.2832C153.337 20.416 153.004 20.5176 152.604 20.6191C152.204 20.7188 151.771 20.7539 151.338 20.7539C150.604 20.7539 149.938 20.6191 149.338 20.416C148.738 20.1816 148.205 19.8789 147.772 19.5078C147.338 19.1055 146.972 18.668 146.739 18.1289C146.505 17.625 146.372 17.0195 146.372 16.4141C146.372 14.9004 146.938 13.7227 148.072 12.8828C149.205 12.041 150.871 11.6387 153.104 11.6387H155.137V10.7969C155.137 10.0918 154.904 9.55273 154.471 9.14844C154.037 8.74609 153.371 8.54297 152.538 8.54297C151.804 8.54297 151.238 8.67773 150.904 9.01367C150.71 9.21094 150.572 9.44336 150.491 9.70703C150.434 9.89648 150.405 10.1035 150.405 10.3262H146.739C146.739 9.7207 146.872 9.11523 147.139 8.57812C147.405 8.03906 147.805 7.53516 148.305 7.13086C148.428 7.03125 148.555 6.93555 148.688 6.8457L148.867 6.73047L148.975 6.66602L149.114 6.58594C149.449 6.40234 149.812 6.24805 150.205 6.12109C150.971 5.88672 151.804 5.75195 152.771 5.75195C153.637 5.75195 154.437 5.88672 155.17 6.08789C155.594 6.20508 155.995 6.36719 156.361 6.56055C156.629 6.70117 156.878 6.85938 157.104 7.0293C157.255 7.14258 157.398 7.26758 157.532 7.40234C157.655 7.52734 157.771 7.66016 157.878 7.80078C158.068 8.04883 158.233 8.32031 158.37 8.61133C158.67 9.25 158.836 9.99023 158.836 10.8301ZM154.737 16.8848C154.904 16.7168 155.07 16.5488 155.17 16.3477V13.8242H153.304C153.187 13.8242 153.072 13.8262 152.96 13.832C152.867 13.8359 152.775 13.8438 152.687 13.8516C152.626 13.8555 152.567 13.8613 152.509 13.8691C152.263 13.8984 152.038 13.9414 151.838 13.9922C151.438 14.0938 151.104 14.2617 150.838 14.4629C150.571 14.666 150.405 14.9004 150.271 15.1699C150.138 15.4395 150.071 15.7422 150.071 16.0781C150.071 16.2012 150.083 16.3184 150.106 16.4297C150.129 16.541 150.163 16.6484 150.208 16.75C150.251 16.8496 150.305 16.9453 150.367 17.0371C150.436 17.1367 150.515 17.2324 150.604 17.3223C150.938 17.6582 151.471 17.8262 152.171 17.8262C152.325 17.8262 152.473 17.8203 152.617 17.8066C152.718 17.7969 152.818 17.7832 152.917 17.7637L153.042 17.7383L153.204 17.6934C153.538 17.625 153.804 17.4902 154.071 17.3555C154.246 17.2676 154.392 17.1641 154.528 17.0586C154.6 17.002 154.668 16.9434 154.737 16.8848ZM175.101 20.4492H163.069V23.3418H175.101V20.4492ZM5.06592 30.4395H1.43311V27.4121H12.5312V30.4395H8.79834V43.8262H12.5312V46.8203H1.43311V43.8262H5.06592V30.4395ZM28.8613 33.5C28.4277 33.0293 27.8945 32.6934 27.2949 32.4902C26.6948 32.2891 26.0283 32.1543 25.3286 32.1543C24.8975 32.1543 24.4893 32.1992 24.1001 32.291C23.6772 32.3926 23.2773 32.5488 22.8955 32.7598C22.1626 33.1641 21.5293 33.7012 21.0293 34.4414L20.7959 32.457H17.4634V46.8867H21.1626V36.627C21.4292 36.1914 21.7959 35.8203 22.229 35.5859C22.4473 35.4492 22.6909 35.3574 22.96 35.2988C23.2251 35.2402 23.5146 35.2148 23.8286 35.2148C24.2622 35.2148 24.6289 35.248 24.9619 35.3496C25.2954 35.4512 25.5952 35.5859 25.8286 35.7871C26.0615 35.9883 26.2617 36.291 26.3618 36.6621C26.4951 37.0312 26.5615 37.502 26.5615 38.0742V46.8867H30.2275V38.0059C30.2275 37.8262 30.2236 37.6504 30.2158 37.4785C30.2012 37.1543 30.1729 36.8457 30.1318 36.5547C30.0977 36.3105 30.0547 36.0781 30.0039 35.8594C29.9614 35.6797 29.9136 35.5098 29.8608 35.3496C29.6279 34.543 29.2944 33.9375 28.8613 33.5ZM59.2222 32.6582C60.022 32.9961 60.6885 33.5 61.2549 34.1055C61.8213 34.7109 62.2549 35.4844 62.6211 36.3242C62.7041 36.5664 62.7739 36.8164 62.832 37.0723C62.876 37.2656 62.9131 37.4609 62.9434 37.6602C63.019 38.1582 63.0547 38.6797 63.0547 39.2168V40.7988H53.3564C53.4229 41.3027 53.5898 41.7402 53.7896 42.1445C54.0229 42.5469 54.2896 42.8848 54.623 43.1875C54.8203 43.3672 55.0288 43.5098 55.2563 43.6328C55.3408 43.6777 55.4282 43.7207 55.5186 43.7617C55.5952 43.7949 55.6743 43.8281 55.7559 43.8594C55.9346 43.9297 56.1191 43.9805 56.3096 44.0176C56.5801 44.0723 56.8623 44.0957 57.1558 44.0957C57.5225 44.0957 57.8555 44.0605 58.2222 43.9941C58.3726 43.9668 58.5176 43.9336 58.6592 43.8945C58.8623 43.8379 59.0586 43.7715 59.2554 43.6914C59.5552 43.5566 59.8887 43.3887 60.1553 43.1875C60.4219 42.9844 60.6885 42.75 60.8882 42.4805L62.7212 44.4648C62.6304 44.5957 62.5293 44.7266 62.4185 44.8555C62.2441 45.0566 62.0454 45.2539 61.8213 45.4395C61.6313 45.5957 61.4233 45.752 61.1973 45.9004C60.9878 46.0391 60.7622 46.168 60.5215 46.2812C60.022 46.5508 59.4551 46.752 58.8555 46.8867C58.2554 47.0547 57.5889 47.1211 56.8892 47.1211C56.3799 47.1211 55.8921 47.084 55.4258 47.0098C54.8848 46.9219 54.373 46.7812 53.8896 46.584C52.9897 46.2129 52.2231 45.7422 51.5898 45.1035C51.2817 44.8086 51.0093 44.4922 50.7725 44.1543C50.6494 43.9785 50.5356 43.7969 50.4316 43.6074C50.3599 43.4766 50.2925 43.3438 50.2295 43.209L50.1553 43.043L50.0903 42.8848C49.9688 42.6055 49.8691 42.3184 49.7905 42.0254C49.6987 41.6836 49.6353 41.334 49.5977 40.9727L49.5732 40.6816C49.5625 40.5098 49.5571 40.3359 49.5571 40.1602V39.6211L49.5586 39.4316L49.5669 39.1641C49.5786 38.8848 49.6021 38.6113 49.6362 38.3438L49.6699 38.1074L49.7021 37.916L49.7485 37.6777L49.7964 37.4609C49.8677 37.1621 49.9546 36.873 50.0571 36.5938C50.2188 36.1523 50.4204 35.7441 50.6533 35.3633C50.8999 34.959 51.1816 34.5859 51.4902 34.2402C52.1235 33.5664 52.8564 33.0625 53.6895 32.6934C53.9097 32.5996 54.1323 32.5176 54.3584 32.4492C54.5669 32.3867 54.7778 32.334 54.9927 32.291C55.4604 32.1973 55.9453 32.1543 56.4561 32.1543C57.4888 32.1543 58.4219 32.3223 59.2222 32.6582ZM53.3232 38.2754H59.3555V38.0059C59.3218 37.6035 59.2554 37.2324 59.1221 36.8965C59.0571 36.7168 58.9766 36.5605 58.8843 36.418C58.8452 36.3555 58.8037 36.2969 58.7603 36.2402L58.6782 36.1348L58.5557 35.9883C58.3223 35.7188 58.022 35.5176 57.6558 35.3828C57.2891 35.2148 56.8892 35.1484 56.4224 35.1484C56.0225 35.1484 55.6226 35.248 55.2896 35.3828C55.1289 35.4629 54.9761 35.5527 54.8311 35.6543C54.6748 35.7617 54.5278 35.8828 54.3896 36.0215C54.123 36.291 53.8896 36.627 53.7231 36.998C53.5562 37.3672 53.4229 37.8047 53.3232 38.2754ZM74.186 26.3691H66.1875V29.3965H70.4868V43.8262H66.1875V46.8203H78.2852V43.8262H74.186V26.3691ZM82.0513 32.4238H89.8164V43.8262H93.6826V46.8203H82.0513V43.8262H86.1172V35.4512H82.0513V32.4238ZM87.6709 26.75L87.5361 26.7637C87.3779 26.7832 87.231 26.8184 87.084 26.875C86.8174 26.9766 86.6172 27.1094 86.4175 27.2793C86.2173 27.4473 86.084 27.6484 85.9839 27.918C85.9404 28.0195 85.9033 28.1289 85.8755 28.2441C85.8389 28.3926 85.8174 28.5527 85.8174 28.7246C85.8174 28.9941 85.8843 29.2637 85.9839 29.5312C86.084 29.7676 86.2173 29.9688 86.4175 30.1719C86.6172 30.3398 86.8174 30.4746 87.084 30.5742C87.1514 30.5996 87.2188 30.6211 87.2876 30.6387C87.4897 30.6895 87.7017 30.709 87.9502 30.709C88.2681 30.709 88.5479 30.6699 88.7974 30.5898C89.0708 30.5039 89.3076 30.3652 89.5166 30.1719C89.8833 29.8008 90.083 29.3301 90.083 28.7578C90.083 28.4004 90.0049 28.082 89.8564 27.8027C89.7676 27.6367 89.6538 27.4844 89.5166 27.3457C89.1167 26.9414 88.6167 26.7402 87.9502 26.7402C87.8521 26.7402 87.7593 26.7441 87.6709 26.75ZM123.81 32.6582C124.186 32.8164 124.532 33.0117 124.852 33.2383C124.945 33.3027 125.036 33.3711 125.125 33.4414C125.215 33.5117 125.303 33.5859 125.389 33.6621C125.547 33.8027 125.698 33.9512 125.843 34.1055C126.376 34.7109 126.809 35.4844 127.209 36.3242C127.509 37.1992 127.643 38.1758 127.643 39.2168V40.7988H117.944C118.011 41.3027 118.178 41.7402 118.377 42.1445C118.611 42.5469 118.877 42.8848 119.211 43.1875C119.544 43.4902 119.911 43.6914 120.344 43.8594C120.777 44.0273 121.244 44.0957 121.744 44.0957C122.11 44.0957 122.443 44.0605 122.81 43.9941C123.177 43.9258 123.51 43.8262 123.843 43.6914C124.143 43.5566 124.477 43.3887 124.743 43.1875C125.01 42.9844 125.276 42.75 125.476 42.4805L127.309 44.4648C127.249 44.5508 127.184 44.6367 127.114 44.7227C127.007 44.8574 126.889 44.9902 126.76 45.1191C126.651 45.2285 126.534 45.3359 126.409 45.4395L126.239 45.5742L126.069 45.7031L125.952 45.7871C125.861 45.8516 125.767 45.9141 125.67 45.9746C125.494 46.084 125.307 46.1875 125.109 46.2812C124.938 46.373 124.758 46.457 124.572 46.5332C124.216 46.6816 123.837 46.7988 123.443 46.8867C122.843 47.0547 122.177 47.1211 121.477 47.1211C120.377 47.1211 119.377 46.9531 118.478 46.584C117.578 46.2129 116.811 45.7422 116.178 45.1035C115.511 44.4648 115.012 43.7246 114.678 42.8848C114.534 42.5527 114.42 42.2109 114.336 41.8574C114.304 41.7227 114.276 41.5859 114.252 41.4492L114.23 41.3184C114.173 40.9434 114.145 40.5566 114.145 40.1602V39.6211C114.145 38.5117 114.312 37.502 114.645 36.5938C114.978 35.6855 115.478 34.9121 116.078 34.2402C116.711 33.5664 117.444 33.0625 118.277 32.6934C118.936 32.4121 119.613 32.248 120.34 32.1836C120.569 32.1641 120.804 32.1543 121.044 32.1543C122.077 32.1543 123.01 32.3223 123.81 32.6582ZM117.911 38.2754H123.943V38.0059C123.91 37.6035 123.843 37.2324 123.71 36.8965C123.577 36.5273 123.376 36.2578 123.144 35.9883C122.91 35.7188 122.61 35.5176 122.244 35.3828C121.877 35.2148 121.477 35.1484 121.01 35.1484C120.61 35.1484 120.21 35.248 119.877 35.3828C119.544 35.5508 119.244 35.7539 118.978 36.0215C118.711 36.291 118.478 36.627 118.311 36.998C118.144 37.3672 118.011 37.8047 117.911 38.2754ZM142.773 33.5C142.339 33.0293 141.806 32.6934 141.207 32.4902C140.606 32.2891 139.94 32.1543 139.24 32.1543C138.34 32.1543 137.541 32.3555 136.807 32.7598C136.074 33.1641 135.441 33.7012 134.941 34.4414L134.708 32.457H131.375V46.8867H135.074V36.627C135.154 36.4961 135.242 36.3711 135.339 36.2539C135.405 36.1738 135.475 36.0996 135.548 36.0293C135.617 35.9609 135.689 35.8965 135.765 35.8359C135.836 35.7793 135.909 35.7246 135.985 35.6758C136.036 35.6445 136.088 35.6133 136.141 35.5859C136.574 35.3164 137.107 35.2148 137.74 35.2148L137.979 35.2188L138.188 35.2285C138.325 35.2402 138.456 35.2559 138.581 35.2793C138.682 35.2969 138.779 35.3203 138.874 35.3496C139.207 35.4512 139.507 35.5859 139.74 35.7871C139.973 35.9883 140.173 36.291 140.273 36.6621C140.407 37.0312 140.473 37.502 140.473 38.0742V46.8867H144.139V38.0059C144.139 36.9648 144.006 36.0566 143.772 35.3496C143.656 34.9473 143.515 34.5938 143.349 34.2871C143.182 33.9805 142.99 33.7188 142.773 33.5ZM175.567 36.3594C175.867 37.2324 176 38.209 176 39.252H176.1V40.7988H166.402L166.426 40.959L166.459 41.123C166.49 41.2578 166.528 41.3887 166.571 41.5156C166.646 41.7363 166.736 41.9453 166.835 42.1445C167.068 42.5469 167.335 42.8848 167.668 43.1875C168.001 43.4902 168.368 43.6914 168.801 43.8594C169.234 44.0273 169.701 44.0957 170.201 44.0957C170.568 44.0957 170.901 44.0605 171.268 43.9941C171.634 43.9258 171.967 43.8262 172.301 43.6914C172.601 43.5566 172.934 43.3887 173.201 43.1875C173.467 42.9844 173.734 42.75 173.934 42.4805L175.767 44.4648C175.533 44.8008 175.233 45.1367 174.867 45.4395C174.64 45.627 174.387 45.8145 174.108 45.9863C173.938 46.0918 173.757 46.1914 173.567 46.2812C173.067 46.5508 172.5 46.752 171.901 46.8867C171.615 46.9668 171.314 47.0234 171.002 47.0625C170.658 47.1035 170.301 47.1211 169.935 47.1211C168.834 47.1211 167.835 46.9531 166.935 46.584C166.457 46.3867 166.016 46.1621 165.612 45.8965C165.257 45.6641 164.932 45.4023 164.635 45.1035C163.969 44.4648 163.469 43.7246 163.136 42.8848C163.047 42.6816 162.971 42.4746 162.905 42.2637C162.831 42.0254 162.77 41.7793 162.724 41.5293C162.642 41.0879 162.603 40.6328 162.603 40.1602V39.6211C162.603 38.5117 162.769 37.502 163.103 36.5938C163.436 35.6855 163.936 34.9121 164.536 34.2402C165.169 33.5664 165.902 33.0625 166.735 32.6934C167.602 32.3223 168.501 32.1543 169.501 32.1543C170.077 32.1543 170.623 32.207 171.131 32.3125C171.534 32.3945 171.914 32.5098 172.267 32.6582C172.584 32.793 172.88 32.9531 173.157 33.1348C173.58 33.4102 173.958 33.7402 174.3 34.1055C174.867 34.7441 175.267 35.4844 175.567 36.3594ZM166.369 38.2754H172.4V38.0059C172.381 37.7676 172.35 37.541 172.3 37.3262C172.266 37.1777 172.222 37.0332 172.167 36.8965C172.034 36.5273 171.834 36.2578 171.601 35.9883C171.368 35.7188 171.067 35.5176 170.701 35.3828C170.334 35.2148 169.935 35.1484 169.468 35.1484C169.068 35.1484 168.668 35.248 168.335 35.3828C168.187 35.457 168.046 35.5391 167.911 35.6309C167.742 35.7441 167.583 35.873 167.435 36.0215C167.168 36.291 166.935 36.627 166.769 36.998C166.708 37.1328 166.651 37.2773 166.599 37.4297C166.508 37.6914 166.432 37.9766 166.369 38.2754ZM106.479 33.7695C106.046 33.2305 105.546 32.8281 104.947 32.5586C104.871 32.5234 104.794 32.4902 104.715 32.459C104.637 32.4297 104.556 32.4023 104.474 32.377L104.375 32.3457C104.3 32.3223 104.224 32.3008 104.146 32.2812C103.739 32.1777 103.289 32.1211 102.78 32.1211C101.88 32.1211 101.081 32.2891 100.381 32.6602C99.6812 33.0293 99.0479 33.5 98.5479 34.1719C98.3257 34.457 98.123 34.7676 97.9434 35.1055C97.7188 35.5273 97.5293 35.9902 97.3813 36.4941C97.1147 37.4023 96.9814 38.4102 96.9814 39.4863V39.7559C96.9814 39.9609 96.9863 40.1641 96.9966 40.3652C97.0142 40.7012 97.0464 41.0312 97.0933 41.3535C97.1597 41.8105 97.2559 42.2539 97.3813 42.6816C97.5122 43.127 97.6753 43.5332 97.8662 43.9102C97.9541 44.084 98.0483 44.252 98.1479 44.4141C98.2725 44.6172 98.4062 44.8125 98.5479 45.0039C99.0479 45.6426 99.6475 46.1465 100.348 46.5176C101.047 46.8867 101.847 47.0547 102.747 47.0547C103.165 47.0547 103.553 47.0137 103.912 46.9336C104.031 46.9062 104.146 46.875 104.259 46.8398C104.344 46.8125 104.427 46.7832 104.509 46.752C104.59 46.7207 104.669 46.6875 104.747 46.6523C105.313 46.3828 105.813 46.0117 106.247 45.541V46.3828V48.1309C106.247 48.1738 106.247 48.2031 106.238 48.2344C106.233 48.2539 106.226 48.2734 106.213 48.2988C106.18 48.7363 105.946 48.9727 105.513 48.9727H98.8145V52H107.846C108.446 52 108.946 51.7969 109.346 51.3945C109.746 50.9902 109.912 50.7559 109.912 50.1152V46.3496V45.3398V32.4238H106.58L106.479 33.7695ZM105.561 43.5449C105.472 43.6113 105.378 43.6719 105.28 43.7246C104.847 43.9609 104.347 44.0957 103.68 44.0957C103.147 44.0957 102.714 43.9941 102.347 43.7598C102.135 43.623 101.934 43.4629 101.756 43.2812C101.628 43.1504 101.512 43.0059 101.414 42.8516C101.181 42.4805 100.98 42.0098 100.881 41.5059C100.748 41 100.714 40.4297 100.714 39.8242V39.5547C100.714 38.9492 100.781 38.377 100.914 37.8398C101.047 37.3008 101.214 36.8633 101.48 36.4609C101.747 36.0566 102.047 35.7539 102.414 35.5176C102.78 35.2832 103.247 35.1816 103.747 35.1816C104.38 35.1816 104.88 35.3164 105.313 35.5527C105.747 35.7871 106.08 36.1582 106.313 36.5938V42.6816H106.28C106.165 42.8984 106.025 43.0977 105.861 43.2734C105.769 43.373 105.668 43.4629 105.561 43.5449ZM150.505 28.8926H154.171V32.4238H159.503V35.1484H154.171V41.0352V43.0527V43.1543C154.193 43.4512 154.308 43.6543 154.515 43.7539C154.613 43.8008 154.731 43.8262 154.871 43.8262H155.337H159.103H159.437V46.5508V46.8535H158.37H153.671H152.571C151.971 46.8535 151.471 46.6523 151.071 46.248C150.705 45.8438 150.505 45.5762 150.505 44.9707V44.7344V41.707V35.1484H147.239V32.4238H150.505V28.8926ZM40.4922 28.8926H36.8262V32.4238H33.5601V35.1484H36.8262V41.707V44.7344V44.9707C36.8262 45.5762 37.0259 45.8438 37.3926 46.248C37.6851 46.543 38.0312 46.7305 38.4307 46.8086C38.5776 46.8379 38.7314 46.8535 38.8926 46.8535H39.9922H44.6914H45.7578V46.5508V43.8262H45.4243H41.6587H41.1919C40.8994 43.8262 40.6978 43.7188 40.5874 43.5156C40.5347 43.418 40.5029 43.2969 40.4922 43.1543V43.0527V41.0352V35.1484H45.8242V32.4238H40.4922V28.8926ZM13.9639 8.4082H10.3647V7.86914V7.26367C10.3315 6.69336 10.2314 6.1875 10.0981 5.75195C9.96484 5.31445 9.79834 4.94336 9.53174 4.64062C9.42871 4.53711 9.31592 4.4375 9.19336 4.34766C8.99805 4.20508 8.77734 4.08398 8.53174 4.00195C8.29883 3.9043 8.04297 3.83984 7.76465 3.80273C7.56543 3.77734 7.35449 3.76562 7.13184 3.76562C6.56543 3.76562 6.06543 3.90039 5.63232 4.13672C5.19922 4.40625 4.83252 4.74219 4.56592 5.24609C4.39844 5.56445 4.25732 5.90625 4.14258 6.29297C4.07471 6.52148 4.01562 6.76562 3.96582 7.0293C3.83252 7.73633 3.76611 8.54297 3.76611 9.41797V12.0742C3.76611 13.9922 4.03271 15.4043 4.56592 16.3125C5.09912 17.2207 5.93213 17.6914 7.09863 17.6914C8.06494 17.6914 8.83154 17.4219 9.39844 16.918C9.96484 16.4141 10.2979 15.5723 10.3647 14.3945V13.6211V13.1172H13.9639V13.5879C13.9639 13.7168 13.9639 13.8379 13.96 13.959C13.9561 14.0898 13.9478 14.2207 13.9307 14.3613C13.8643 15.1348 13.731 15.8418 13.4976 16.5137C13.1973 17.3887 12.7642 18.1621 12.1646 18.7676C11.5977 19.373 10.8647 19.8438 9.99805 20.1797C9.49316 20.377 8.9541 20.5156 8.36816 20.5977C7.94873 20.6562 7.50488 20.6855 7.03223 20.6855C6.13232 20.6855 5.33252 20.5508 4.59912 20.3145C4.39893 20.248 4.23242 20.1797 4.06592 20.1133C3.16602 19.6758 2.43311 19.0703 1.83301 18.3301C1.23291 17.5898 0.799805 16.6816 0.466797 15.6055C0.166504 14.5293 0 13.3535 0 12.0742V10.7617V9.48438C0 8.17188 0.166504 6.99609 0.533203 5.91992C0.866699 4.84375 1.33301 3.93555 1.96631 3.16016C2.56641 2.38672 3.33252 1.81641 4.19922 1.37891C4.53271 1.24414 4.86572 1.10938 5.23242 1.00781C5.79883 0.873047 6.39893 0.806641 7.03223 0.806641C8.13184 0.806641 9.13184 0.974609 9.99805 1.31055C10.8647 1.64844 11.5645 2.11914 12.1646 2.72461C12.4912 3.07227 12.7681 3.44922 13.0015 3.86328C13.1963 4.20898 13.3608 4.57812 13.4976 4.97656C13.731 5.68359 13.8975 6.45703 13.9307 7.29883C13.9639 7.5 13.9639 7.70117 13.9639 7.9043V8.4082Z" fill="white"/>
                    </svg>
                  </a>
                </li>
              </ul>
              <div>
                <a href="mailto:info@ciudadaniai.org" target="_blank"><svg class="icon-footer" style="margin-left: -4px;" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.5 19.75C12.82 19.75 11.14 18.2625 10.3 17.625C6.1 14.65 4.84 13.5875 4 12.95V21.875C4 23.0484 4.94041 24 6.1 24H22.9C24.0596 24 25 23.0484 25 21.875V12.95C24.16 13.5875 22.9 14.65 18.7 17.625C17.86 18.2625 16.18 19.75 14.5 19.75ZM22.9 7H6.1C4.94041 7 4 7.9516 4 9.125V10.1875C5.68 11.4625 5.47 11.4625 11.56 15.925C12.19 16.35 13.45 17.625 14.5 17.625C15.55 17.625 16.81 16.35 17.44 16.1375C23.53 11.675 23.32 11.675 25 10.4V9.125C25 7.9516 24.0596 7 22.9 7Z" fill="white"/>
                </svg></a>
                <a href="https://gitlab.com/ciudadaniai" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.52181 4.29481C8.38862 3.90173 7.84726 3.90173 7.70977 4.29481L5.28225 12.0151H10.9536C10.9493 12.0151 8.52181 4.29481 8.52181 4.29481V4.29481ZM4.04056 15.9017C3.92886 16.2551 4.05345 16.6481 4.34562 16.8734L14.9966 25L5.27796 12.0151L4.04056 15.9017ZM10.9493 12.0151L15.0009 25L19.0525 12.0151H10.9493ZM25.9613 15.9017L24.7239 12.0151L15.0009 25L25.6519 16.8734C25.9484 16.6481 26.0687 16.2551 25.9613 15.9017V15.9017ZM22.2921 4.29481C22.1589 3.90173 21.6175 3.90173 21.48 4.29481L19.0482 12.0151H24.7196L22.2921 4.29481Z" fill="white"/>
                </svg></a>
                <a href="https://twitter.com/ciudadania_i" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M22.8414 11.2367C22.8548 11.4226 22.8548 11.6086 22.8548 11.7945C22.8548 17.4656 18.5242 24 10.6092 24C8.17069 24 5.90547 23.2961 4 22.0742C4.34646 22.1141 4.67955 22.1273 5.03934 22.1273C7.05137 22.1273 8.90356 21.45 10.3826 20.2946C8.49049 20.2547 6.90482 19.0195 6.35849 17.3195C6.62501 17.3593 6.89149 17.3859 7.17134 17.3859C7.55775 17.3859 7.9442 17.3328 8.30395 17.2399C6.33187 16.8414 4.85276 15.1148 4.85276 13.0297V12.9766C5.42571 13.2953 6.09201 13.4945 6.79818 13.5211C5.63891 12.7507 4.87942 11.4359 4.87942 9.94841C4.87942 9.15155 5.09258 8.42108 5.4657 7.78357C7.58437 10.3867 10.769 12.0867 14.3401 12.2726C14.2735 11.9539 14.2335 11.6219 14.2335 11.2898C14.2335 8.92576 16.1523 7 18.5374 7C19.7766 7 20.8959 7.51797 21.6821 8.35469C22.6548 8.16876 23.5875 7.81015 24.4137 7.31875C24.0939 8.31487 23.4143 9.15159 22.5216 9.6828C23.3877 9.58988 24.2272 9.35076 25 9.01876C24.4138 9.86873 23.6809 10.6257 22.8414 11.2367V11.2367Z" fill="white"/>
                </svg></a>
                <a href="https://www.instagram.com/ciudadaniai/" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.0022 9.14293C12.1645 9.14293 9.87563 11.5595 9.87563 14.5556C9.87563 17.5516 12.1645 19.9682 15.0022 19.9682C17.8399 19.9682 20.1288 17.5516 20.1288 14.5556C20.1288 11.5595 17.8399 9.14293 15.0022 9.14293ZM15.0022 18.0745C13.1684 18.0745 11.6693 16.4964 11.6693 14.5556C11.6693 12.6147 13.164 11.0366 15.0022 11.0366C16.8405 11.0366 18.3352 12.6147 18.3352 14.5556C18.3352 16.4964 16.836 18.0745 15.0022 18.0745V18.0745ZM21.5343 8.92153C21.5343 9.62343 20.9989 10.184 20.3385 10.184C19.6737 10.184 19.1428 9.61872 19.1428 8.92153C19.1428 8.22434 19.6782 7.65905 20.3385 7.65905C20.9989 7.65905 21.5343 8.22434 21.5343 8.92153ZM24.9297 10.2028C24.8539 8.5117 24.488 7.01369 23.3146 5.77948C22.1456 4.54527 20.7267 4.15899 19.1249 4.07419C17.4741 3.97527 12.5259 3.97527 10.8751 4.07419C9.27775 4.15428 7.8589 4.54056 6.68544 5.77477C5.51199 7.00898 5.15059 8.50699 5.07027 10.1981C4.97658 11.9411 4.97658 17.1653 5.07027 18.9083C5.14612 20.5994 5.51199 22.0974 6.68544 23.3316C7.8589 24.5658 9.27329 24.9521 10.8751 25.0369C12.5259 25.1358 17.4741 25.1358 19.1249 25.0369C20.7267 24.9568 22.1456 24.5706 23.3146 23.3316C24.4835 22.0974 24.8494 20.5994 24.9297 18.9083C25.0234 17.1653 25.0234 11.9458 24.9297 10.2028V10.2028ZM22.797 20.7784C22.449 21.7017 21.7752 22.413 20.8963 22.7852C19.58 23.3363 16.4568 23.2092 15.0022 23.2092C13.5477 23.2092 10.42 23.3316 9.1082 22.7852C8.23369 22.4178 7.55996 21.7064 7.20747 20.7784C6.68544 19.3888 6.80591 16.0913 6.80591 14.5556C6.80591 13.0199 6.68991 9.71764 7.20747 8.33269C7.55549 7.40939 8.22922 6.69807 9.1082 6.32592C10.4244 5.77477 13.5477 5.90195 15.0022 5.90195C16.4568 5.90195 19.5845 5.77948 20.8963 6.32592C21.7708 6.69336 22.4445 7.40468 22.797 8.33269C23.319 9.72235 23.1985 13.0199 23.1985 14.5556C23.1985 16.0913 23.319 19.3935 22.797 20.7784Z" fill="white"/>
                </svg></a>
                <a href="https://www.facebook.com/ciudadaniai/" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.2792 16.8125L19.8496 13.012H16.2831V10.5457C16.2831 9.50598 16.7813 8.49248 18.3786 8.49248H20V5.25676C20 5.25676 18.5286 5 17.1218 5C14.1847 5 12.2649 6.82027 12.2649 10.1155V13.012H9V16.8125H12.2649V26H16.2831V16.8125H19.2792Z" fill="white"/>
                </svg></a>
                <a href="https://www.youtube.com/channel/UCtiq34lXdXDxo6GhIwnY5Sw" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M26.4776 9.65992C26.1901 8.61292 25.3429 7.78833 24.2673 7.50849C22.3177 7 14.5 7 14.5 7C14.5 7 6.68232 7 4.73266 7.50849C3.65706 7.78837 2.80992 8.61292 2.5224 9.65992C2 11.5577 2 15.5172 2 15.5172C2 15.5172 2 19.4767 2.5224 21.3744C2.80992 22.4214 3.65706 23.2117 4.73266 23.4915C6.68232 24 14.5 24 14.5 24C14.5 24 22.3177 24 24.2673 23.4915C25.3429 23.2117 26.1901 22.4214 26.4776 21.3744C27 19.4767 27 15.5172 27 15.5172C27 15.5172 27 11.5577 26.4776 9.65992V9.65992ZM11.9432 19.1121V11.9223L18.4772 15.5173L11.9432 19.1121V19.1121Z" fill="white"/>
                </svg></a>
                <a href="https://medium.com/@ciudadaniai" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 4V26H26V4H4ZM22.2777 9.21027L21.0991 10.3397C20.996 10.4183 20.9469 10.546 20.9665 10.6688V18.9826C20.9469 19.1103 20.996 19.2379 21.0991 19.3116L22.2531 20.4411V20.6915H16.4585V20.4509L17.6518 19.292C17.7696 19.1741 17.7696 19.1397 17.7696 18.9629V12.2402L14.45 20.667H14.0031L10.1384 12.2402V17.8875C10.104 18.1232 10.1875 18.3638 10.3545 18.5357L11.9062 20.4165V20.667H7.49643V20.4165L9.04821 18.5357C9.21518 18.3638 9.28884 18.1232 9.24955 17.8875V11.3562C9.2692 11.1746 9.20045 10.9978 9.06295 10.875L7.68304 9.21027V8.95982H11.9701L15.2799 16.2277L18.192 8.96473H22.2777V9.21027Z" fill="white"/>
                </svg></a>
                <a href="https://creativecommons.org/licenses/by/4.0/deed.es" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.9037 13.1735L13.4303 13.9399C13.012 13.0715 12.3108 13.0559 12.2123 13.0559C11.2307 13.0559 10.7388 13.704 10.7388 15.0004C10.7388 16.0459 11.1473 16.945 12.2123 16.945C12.8541 16.945 13.3056 16.6305 13.5682 16.002L14.9233 16.6895C14.6496 17.2 13.7838 18.4184 12.0358 18.4184C11.0333 18.4184 8.75528 17.9607 8.75528 15.0009C8.75528 12.3977 10.6625 11.5829 11.9768 11.5829C13.3394 11.5825 14.3143 12.1129 14.9037 13.1735V13.1735ZM21.2487 13.1735L19.7948 13.9399C19.3734 13.063 18.654 13.0559 18.5573 13.0559C17.5752 13.0559 17.0838 13.704 17.0838 15.0004C17.0838 16.045 17.4932 16.945 18.5573 16.945C19.1982 16.945 19.6506 16.6305 19.9119 16.002L21.2869 16.6895C21.1937 16.8558 20.3381 18.4184 18.3998 18.4184C17.3934 18.4184 15.1193 17.9806 15.1193 15.0009C15.1193 12.3986 17.0252 11.5829 18.3408 11.5829C19.7029 11.5825 20.673 12.1129 21.2487 13.1735V13.1735ZM14.9805 4C8.64573 4 4 9.10347 4 15C4 21.1427 9.03871 26 14.9805 26C20.7435 26 26 21.5259 26 15C26 8.8848 21.2709 4 14.9805 4V4ZM15.0191 23.9956C10.0274 23.9956 5.98399 19.8688 5.98399 15C5.98399 10.3241 9.77323 5.98399 15.02 5.98399C20.0112 5.98399 24.016 9.95198 24.016 14.9996C24.0156 20.3971 19.5947 23.9956 15.0191 23.9956V23.9956Z" fill="white"/>
                </svg></a>

              </div>
            </div>
          </div>
        </div>
        <div class="uk-width-1-2">
          <div class="uk-flex uk-flex-right" uk-grid>
            <div class="uk-width-2-3">
              <i class='uil uil-exclamation-triangle'></i>
              <li><p class="font-small">{% t footer.disclaimer %}</p></li>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end desktop-->

    <!--Mobile-->
    <div class="uk-container uk-hidden@m">
      <div class="uk-flex uk-flex-center uk-flex-middle" uk-grid>
        <div class="uk-width-1-2">
          <ul class="uk-list">
            <li><p class="font-mono">{% t footer.fci %}</p></li>
            <li>
              <a class="logo-footer-fci" href="https://ciudadaniai.org" target="_blank">
                <svg width="150" height="52" viewBox="0 0 177 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M50.5234 18.668C50.9902 19.3066 51.5898 19.8105 52.29 20.1816C52.7725 20.4355 53.2871 20.5938 53.8442 20.6699C54.0947 20.7031 54.354 20.7188 54.6226 20.7188C55.4224 20.7188 56.1226 20.5508 56.7222 20.248C57.3223 19.9453 57.8555 19.5078 58.3223 18.9375L58.522 20.4492H61.8213V0H58.1221V7.33203C57.689 6.82812 57.189 6.45703 56.6226 6.18945C56.3027 6.03711 55.9512 5.92773 55.5737 5.86133C55.3896 5.83008 55.1992 5.80859 55.0034 5.79688C54.8896 5.78906 54.7739 5.78516 54.6562 5.78516C53.7563 5.78516 52.9897 5.95312 52.29 6.32422C51.9131 6.52344 51.5747 6.75195 51.2646 7.02539C51.1294 7.14453 50.9995 7.27344 50.874 7.41016C50.7534 7.54297 50.6367 7.68555 50.5234 7.83789C50.354 8.05469 50.1997 8.28711 50.061 8.53516C49.7905 9.01562 49.5781 9.55859 49.4238 10.1582C49.1572 11.0664 49.0571 12.0742 49.0571 13.1504V13.4199C49.0571 13.8789 49.083 14.3242 49.1318 14.7578C49.1631 15.0371 49.2041 15.3105 49.2539 15.5801C49.3022 15.8418 49.3594 16.0977 49.4238 16.3477C49.6572 17.2207 50.0234 17.9941 50.5234 18.668ZM52.6899 13.1504C52.6899 12.5469 52.7563 11.9746 52.8564 11.4355C52.9565 10.8984 53.123 10.4609 53.3564 10.0566C53.4697 9.86133 53.5986 9.68945 53.7432 9.53711C53.8965 9.375 54.0674 9.23633 54.2563 9.11523C54.6226 8.87891 55.0562 8.7793 55.5894 8.7793C56.2227 8.7793 56.7222 8.91406 57.1558 9.18164C57.5557 9.45117 57.8887 9.82227 58.1553 10.3262V16.1777C58.0552 16.3809 57.937 16.5645 57.8003 16.7324C57.7134 16.8379 57.6191 16.9375 57.5176 17.0312C57.4058 17.1348 57.2852 17.2305 57.1558 17.3223C56.8989 17.4824 56.6187 17.5938 56.3013 17.6602L56.1284 17.6934L55.9546 17.7129C55.8379 17.7227 55.7163 17.7266 55.5894 17.7266C55.0562 17.7266 54.6226 17.625 54.2563 17.3887C54.0342 17.2461 53.8364 17.0801 53.6631 16.8867C53.5503 16.7617 53.4482 16.627 53.3564 16.4805C53.123 16.1113 52.9565 15.6406 52.8564 15.1367C52.7563 14.6309 52.6899 14.0586 52.6899 13.4531V13.1504ZM22.3291 3.76758C22.5288 3.93555 22.729 4.07031 22.9956 4.17188L23.0542 4.19141L23.1157 4.21094L23.2197 4.24023C23.29 4.25781 23.3613 4.27148 23.4351 4.28125C23.5674 4.29883 23.7075 4.30664 23.8618 4.30664C24.5283 4.30664 25.0283 4.13867 25.4282 3.76758C25.6519 3.54297 25.8135 3.2793 25.9058 2.97852C25.9644 2.78516 25.9946 2.57812 25.9946 2.35547C25.9946 1.7832 25.7949 1.3125 25.4282 0.943359C25.0615 0.572266 24.5283 0.404297 23.8618 0.404297C23.6943 0.404297 23.5439 0.414062 23.4019 0.435547L23.3271 0.447266L23.2075 0.472656C23.1362 0.490234 23.0659 0.511719 22.9956 0.539062C22.729 0.640625 22.5288 0.773438 22.3291 0.943359C22.1289 1.11133 21.9956 1.3125 21.8955 1.58203C21.8525 1.68359 21.8159 1.79102 21.7876 1.9043C21.7505 2.05469 21.729 2.2168 21.729 2.38867C21.729 2.46875 21.7349 2.54883 21.7456 2.62891C21.7539 2.6875 21.7646 2.74609 21.7778 2.80469C21.8066 2.93555 21.8472 3.06641 21.8955 3.19531C21.9956 3.39844 22.1289 3.59961 22.3291 3.76758ZM29.5615 17.457H25.6953V6.05469H17.9302V9.08203H21.9961V17.457H17.9302V20.4512H29.5615V17.457ZM36.293 20.416C35.6597 20.1816 35.1265 19.8105 34.6934 19.3066C34.2598 18.8027 33.8936 18.1641 33.6602 17.3906C33.5586 17.0527 33.4761 16.6836 33.415 16.2852C33.3359 15.7695 33.2935 15.2051 33.2935 14.5977V6.05469H36.9595V14.5645C36.9595 15.1367 36.9927 15.6406 37.0928 16.0449C37.1265 16.25 37.1777 16.4375 37.2461 16.6035L37.2915 16.7051L37.3457 16.8086C37.3901 16.8867 37.439 16.957 37.4927 17.0195C37.6177 17.1875 37.7559 17.3164 37.9155 17.416C38.0107 17.4746 38.1138 17.5215 38.2261 17.5586C38.5259 17.6582 38.8926 17.7266 39.3257 17.7266C40.0254 17.7266 40.6255 17.5918 41.0918 17.3223C41.2515 17.2227 41.4019 17.1094 41.54 16.9805C41.7773 16.7617 41.9775 16.498 42.125 16.1797V6.05469H45.8242V20.4844H42.4917L42.292 18.4668C41.8252 19.1719 41.2251 19.7441 40.5586 20.1484C39.8921 20.5508 39.1255 20.7539 38.3257 20.7539C38.0352 20.7539 37.75 20.7383 37.4746 20.7051C37.374 20.6934 37.2744 20.6777 37.1763 20.6602L36.958 20.6172L36.7036 20.5547L36.5352 20.5039L36.4121 20.459L36.293 20.416ZM70.2534 20.7539C69.52 20.7539 68.8535 20.6191 68.2539 20.416C67.6538 20.2148 67.1206 19.9121 66.6543 19.5078C66.4385 19.3086 66.2397 19.0996 66.0654 18.875C65.9556 18.7324 65.8555 18.582 65.7671 18.4238C65.7314 18.3594 65.6978 18.2949 65.6665 18.2285L65.6211 18.1289C65.3877 17.625 65.2544 17.0195 65.2544 16.4141C65.2544 14.9004 65.8208 13.7227 66.9541 12.8828C68.0874 12.041 69.7534 11.6387 71.9863 11.6387H74.0195V10.7969C74.0195 10.0918 73.7861 9.55273 73.353 9.14844C72.9194 8.74609 72.2529 8.54297 71.4199 8.54297C70.6865 8.54297 70.1201 8.67773 69.7871 9.01367C69.4536 9.35156 69.2871 9.78906 69.2871 10.3262H65.6211L65.6216 10.2617L65.6279 10.0879L65.6372 9.96484C65.646 9.86523 65.6582 9.76562 65.6748 9.66602L65.7139 9.46094C65.7476 9.30469 65.7905 9.15234 65.8423 9.00391C65.8931 8.85938 65.9526 8.7168 66.021 8.57812C66.0835 8.45117 66.1533 8.32617 66.2305 8.20508C66.3335 8.04102 66.4487 7.88281 66.5757 7.73242L66.7261 7.5625L66.8213 7.46094L66.9741 7.31445C67.043 7.25 67.1143 7.18945 67.1875 7.13086C67.7207 6.69336 68.354 6.35742 69.0869 6.12109C69.8535 5.88672 70.6865 5.75195 71.6533 5.75195C72.1606 5.75195 72.645 5.79688 73.1069 5.875C73.4336 5.93164 73.749 6.00391 74.0527 6.08789C74.7861 6.29102 75.4526 6.62695 75.9858 7.0293C76.519 7.43359 76.9521 7.97266 77.252 8.61133C77.5522 9.25 77.7188 9.99023 77.7188 10.8301V17.0195C77.7188 17.2266 77.7212 17.4238 77.7266 17.6113L77.7393 17.9258L77.7593 18.2324C77.7803 18.4922 77.8101 18.7266 77.8521 18.9375C77.9521 19.4414 78.0854 19.8789 78.2852 20.248V20.4844H74.5527C74.4526 20.3164 74.3862 20.1133 74.3193 19.8789C74.2529 19.6426 74.186 19.4082 74.1528 19.1387C73.9526 19.375 73.7192 19.5762 73.4526 19.7773C73.186 19.9805 72.9194 20.1484 72.5864 20.2832C72.4365 20.3438 72.2871 20.3965 72.1313 20.4453C71.9404 20.5059 71.7402 20.5625 71.52 20.6191C71.4268 20.6426 71.3315 20.6621 71.2349 20.6777C71.1421 20.6934 71.0479 20.707 70.9526 20.7168C70.8086 20.7344 70.6631 20.7441 70.5166 20.75L70.2534 20.7539ZM69.7202 14.5312C69.4536 14.7324 69.2871 14.9688 69.1538 15.2363C69.0205 15.5059 68.9536 15.8086 68.9536 16.1113C68.9536 16.6152 69.1538 17.0195 69.4868 17.3555C69.6436 17.5137 69.8442 17.6348 70.0859 17.7188C70.3584 17.8145 70.6826 17.8613 71.0532 17.8613C71.2129 17.8613 71.3667 17.8555 71.5166 17.8398C71.7104 17.8184 71.8984 17.7832 72.0864 17.7266C72.4199 17.6582 72.6865 17.5234 72.9531 17.3906C73.2197 17.2559 73.4194 17.0879 73.6196 16.918C73.7861 16.75 73.9526 16.582 74.0527 16.3809V13.8926H72.1865C71.6196 13.8926 71.1201 13.959 70.7202 14.0605C70.3203 14.1602 69.9868 14.3281 69.7202 14.5312ZM84.7178 20.1816C85.4175 20.5508 86.1841 20.7188 87.0503 20.7188C87.8501 20.7188 88.5503 20.5508 89.1499 20.248C89.75 19.9453 90.2832 19.5078 90.75 18.9375L90.9497 20.4492H94.249V0H90.5498V7.33203C90.3174 7.0625 90.0659 6.83008 89.7949 6.63086L89.6694 6.54102C89.5986 6.49219 89.5259 6.44727 89.4526 6.40234C89.3228 6.32422 89.1885 6.25391 89.0503 6.18945C88.7568 6.05078 88.437 5.94727 88.0947 5.87891L87.8809 5.8418C87.7725 5.82617 87.6626 5.8125 87.5508 5.80273C87.4531 5.79492 87.354 5.78906 87.2534 5.78711L87.084 5.78516C86.1841 5.78516 85.4175 5.95312 84.7178 6.32422C84.0176 6.69336 83.4512 7.16406 82.9512 7.83789C82.4512 8.47656 82.085 9.25 81.8516 10.1582C81.7656 10.4512 81.6968 10.7539 81.6436 11.0664L81.606 11.3027L81.5806 11.4902C81.561 11.6406 81.5454 11.7949 81.5322 11.9512C81.4995 12.3398 81.4849 12.7402 81.4849 13.1504V13.4199C81.4849 14.4629 81.6182 15.4395 81.8516 16.3477C82.1182 17.2539 82.4849 17.9941 82.9512 18.668C83.187 18.9688 83.4375 19.2402 83.71 19.4824C84.0151 19.7539 84.3477 19.9863 84.7178 20.1816ZM85.1509 13.1504C85.1509 12.9512 85.1582 12.7559 85.1714 12.5645C85.1982 12.1738 85.2505 11.7969 85.3174 11.4355C85.4175 10.8984 85.584 10.4609 85.8174 10.0566C85.9067 9.90234 86.0059 9.76172 86.1152 9.63477C86.2905 9.43164 86.4912 9.25977 86.7173 9.11523C86.7876 9.07031 86.8604 9.0293 86.9355 8.99414L87.0396 8.94727L87.145 8.9082C87.4121 8.81836 87.7109 8.7793 88.0503 8.7793C88.2603 8.7793 88.4556 8.79492 88.6387 8.82422C89.0078 8.88281 89.3271 9.00195 89.6167 9.18164C89.6753 9.2207 89.7329 9.26367 89.7886 9.30859L89.8779 9.38086L89.9854 9.47852C90.2261 9.70703 90.4365 9.98633 90.6167 10.3262V16.1777C90.3833 16.6504 90.0498 17.0195 89.6167 17.3223C89.1836 17.5918 88.6836 17.7266 88.0503 17.7266C87.5171 17.7266 87.084 17.625 86.7173 17.3887C86.3506 17.1543 86.0508 16.8516 85.8174 16.4805C85.7002 16.2949 85.6001 16.084 85.5166 15.8574C85.4336 15.6309 85.3672 15.3887 85.3174 15.1367C85.2173 14.6309 85.1509 14.0586 85.1509 13.4531V13.1504ZM110.179 10.8301V17.0195C110.179 17.793 110.212 18.4316 110.279 18.9375C110.379 19.4414 110.512 19.8789 110.712 20.248V20.4844H106.98C106.88 20.3164 106.813 20.1133 106.747 19.8789C106.68 19.6426 106.613 19.4082 106.58 19.1387C106.475 19.2617 106.361 19.377 106.238 19.4863C106.126 19.5859 106.007 19.6816 105.88 19.7773C105.76 19.8691 105.641 19.9531 105.515 20.0293C105.361 20.125 105.197 20.209 105.014 20.2832C104.68 20.416 104.347 20.5176 103.947 20.6191C103.547 20.7188 103.114 20.7539 102.681 20.7539C102.298 20.7539 101.935 20.7168 101.589 20.6543C101.271 20.5957 100.968 20.5137 100.681 20.416C100.381 20.2988 100.097 20.1641 99.8345 20.0117C99.6802 19.9238 99.5327 19.8281 99.394 19.7266C99.2969 19.6562 99.2036 19.584 99.1147 19.5078C98.6812 19.1055 98.3149 18.668 98.0815 18.1289C98.0488 18.0586 98.0181 17.9863 97.9893 17.9121C97.9253 17.7461 97.8716 17.5723 97.8291 17.3926C97.8091 17.3086 97.7915 17.2227 97.7769 17.1348C97.7363 16.8984 97.7148 16.6562 97.7148 16.4141C97.7148 15.7734 97.8169 15.1914 98.0205 14.6699C98.2969 13.9629 98.7617 13.3672 99.4146 12.8828C100.071 12.3945 100.907 12.0547 101.928 11.8555C102.669 11.7109 103.508 11.6387 104.447 11.6387H106.48V10.7969C106.48 10.0918 106.247 9.55273 105.813 9.14844C105.38 8.74609 104.713 8.54297 103.88 8.54297C103.147 8.54297 102.581 8.67773 102.247 9.01367C101.914 9.35156 101.748 9.78906 101.748 10.3262H98.0815C98.0815 9.7207 98.2148 9.11523 98.4814 8.57812C98.748 8.03906 99.1479 7.53516 99.6479 7.13086C100.181 6.69336 100.814 6.35742 101.547 6.12109C102.314 5.88672 103.147 5.75195 104.114 5.75195C104.98 5.75195 105.78 5.88672 106.513 6.08789C106.888 6.19141 107.245 6.33008 107.576 6.49414L107.764 6.5918L107.993 6.72266C108.152 6.82031 108.304 6.92188 108.446 7.0293C108.979 7.43359 109.413 7.97266 109.712 8.61133C110.013 9.25 110.179 9.99023 110.179 10.8301ZM106.138 16.791L106.252 16.6699C106.342 16.5703 106.422 16.4648 106.48 16.3477V13.8242H104.614C104.047 13.8242 103.547 13.8926 103.147 13.9922C102.747 14.0938 102.414 14.2617 102.147 14.4629C101.881 14.666 101.714 14.9004 101.581 15.1699C101.447 15.4395 101.381 15.7422 101.381 16.0781C101.381 16.2773 101.412 16.4609 101.47 16.6309C101.56 16.8906 101.712 17.1191 101.914 17.3223C102.11 17.5195 102.375 17.6602 102.703 17.7422C102.813 17.7695 102.931 17.791 103.055 17.8047L103.239 17.8203C103.317 17.8242 103.398 17.8262 103.48 17.8262C103.652 17.8262 103.817 17.8184 103.978 17.8008C104.075 17.791 104.171 17.7754 104.267 17.7559C104.35 17.7383 104.432 17.7188 104.514 17.6934C104.611 17.6738 104.703 17.6484 104.791 17.6172L104.953 17.5566C105.102 17.4961 105.241 17.4258 105.38 17.3555C105.528 17.2812 105.656 17.1953 105.774 17.1055L105.871 17.0293L106.046 16.8848L106.138 16.791ZM117.978 10.2246C118.244 9.78711 118.611 9.41797 119.044 9.18164C119.477 8.91211 120.01 8.8125 120.644 8.8125C121.077 8.8125 121.443 8.8457 121.777 8.94727C122.11 9.04688 122.41 9.18164 122.643 9.38281C122.783 9.50391 122.911 9.66211 123.013 9.84766C123.081 9.97266 123.137 10.1094 123.177 10.2578C123.246 10.4492 123.296 10.668 123.33 10.9121C123.361 11.1406 123.376 11.3945 123.376 11.6699V20.4824H127.042V11.6035C127.042 11.166 127.019 10.752 126.974 10.3672C126.913 9.83398 126.811 9.35547 126.676 8.94727C126.442 8.20703 126.109 7.60156 125.643 7.16406C125.209 6.69336 124.676 6.35742 124.076 6.1543C123.732 6.03906 123.366 5.94531 122.984 5.88672C122.701 5.8418 122.408 5.81836 122.11 5.81836C121.21 5.81836 120.41 6.01953 119.677 6.42383C118.944 6.82812 118.311 7.36523 117.811 8.10547L117.644 6.05469H114.312V20.4824H117.978V10.2246ZM131.309 6.05469H139.274V17.457H143.373V20.4512H131.309V17.457H135.574V9.08203H131.309V6.05469ZM142.439 0.537109H138.407L135.941 4.27148H138.774L142.439 0.537109ZM158.836 10.8301V17.0195C158.836 17.793 158.87 18.4316 158.937 18.9375C159.036 19.4414 159.169 19.8789 159.37 20.248V20.4844H155.637C155.572 20.375 155.521 20.252 155.476 20.1133C155.451 20.0391 155.427 19.9609 155.404 19.8789C155.367 19.748 155.33 19.6191 155.299 19.4824C155.273 19.373 155.252 19.2598 155.237 19.1387C155.037 19.375 154.804 19.5762 154.537 19.7773C154.411 19.873 154.285 19.9609 154.152 20.043C154.003 20.1328 153.846 20.2129 153.671 20.2832C153.337 20.416 153.004 20.5176 152.604 20.6191C152.204 20.7188 151.771 20.7539 151.338 20.7539C150.604 20.7539 149.938 20.6191 149.338 20.416C148.738 20.1816 148.205 19.8789 147.772 19.5078C147.338 19.1055 146.972 18.668 146.739 18.1289C146.505 17.625 146.372 17.0195 146.372 16.4141C146.372 14.9004 146.938 13.7227 148.072 12.8828C149.205 12.041 150.871 11.6387 153.104 11.6387H155.137V10.7969C155.137 10.0918 154.904 9.55273 154.471 9.14844C154.037 8.74609 153.371 8.54297 152.538 8.54297C151.804 8.54297 151.238 8.67773 150.904 9.01367C150.71 9.21094 150.572 9.44336 150.491 9.70703C150.434 9.89648 150.405 10.1035 150.405 10.3262H146.739C146.739 9.7207 146.872 9.11523 147.139 8.57812C147.405 8.03906 147.805 7.53516 148.305 7.13086C148.428 7.03125 148.555 6.93555 148.688 6.8457L148.867 6.73047L148.975 6.66602L149.114 6.58594C149.449 6.40234 149.812 6.24805 150.205 6.12109C150.971 5.88672 151.804 5.75195 152.771 5.75195C153.637 5.75195 154.437 5.88672 155.17 6.08789C155.594 6.20508 155.995 6.36719 156.361 6.56055C156.629 6.70117 156.878 6.85938 157.104 7.0293C157.255 7.14258 157.398 7.26758 157.532 7.40234C157.655 7.52734 157.771 7.66016 157.878 7.80078C158.068 8.04883 158.233 8.32031 158.37 8.61133C158.67 9.25 158.836 9.99023 158.836 10.8301ZM154.737 16.8848C154.904 16.7168 155.07 16.5488 155.17 16.3477V13.8242H153.304C153.187 13.8242 153.072 13.8262 152.96 13.832C152.867 13.8359 152.775 13.8438 152.687 13.8516C152.626 13.8555 152.567 13.8613 152.509 13.8691C152.263 13.8984 152.038 13.9414 151.838 13.9922C151.438 14.0938 151.104 14.2617 150.838 14.4629C150.571 14.666 150.405 14.9004 150.271 15.1699C150.138 15.4395 150.071 15.7422 150.071 16.0781C150.071 16.2012 150.083 16.3184 150.106 16.4297C150.129 16.541 150.163 16.6484 150.208 16.75C150.251 16.8496 150.305 16.9453 150.367 17.0371C150.436 17.1367 150.515 17.2324 150.604 17.3223C150.938 17.6582 151.471 17.8262 152.171 17.8262C152.325 17.8262 152.473 17.8203 152.617 17.8066C152.718 17.7969 152.818 17.7832 152.917 17.7637L153.042 17.7383L153.204 17.6934C153.538 17.625 153.804 17.4902 154.071 17.3555C154.246 17.2676 154.392 17.1641 154.528 17.0586C154.6 17.002 154.668 16.9434 154.737 16.8848ZM175.101 20.4492H163.069V23.3418H175.101V20.4492ZM5.06592 30.4395H1.43311V27.4121H12.5312V30.4395H8.79834V43.8262H12.5312V46.8203H1.43311V43.8262H5.06592V30.4395ZM28.8613 33.5C28.4277 33.0293 27.8945 32.6934 27.2949 32.4902C26.6948 32.2891 26.0283 32.1543 25.3286 32.1543C24.8975 32.1543 24.4893 32.1992 24.1001 32.291C23.6772 32.3926 23.2773 32.5488 22.8955 32.7598C22.1626 33.1641 21.5293 33.7012 21.0293 34.4414L20.7959 32.457H17.4634V46.8867H21.1626V36.627C21.4292 36.1914 21.7959 35.8203 22.229 35.5859C22.4473 35.4492 22.6909 35.3574 22.96 35.2988C23.2251 35.2402 23.5146 35.2148 23.8286 35.2148C24.2622 35.2148 24.6289 35.248 24.9619 35.3496C25.2954 35.4512 25.5952 35.5859 25.8286 35.7871C26.0615 35.9883 26.2617 36.291 26.3618 36.6621C26.4951 37.0312 26.5615 37.502 26.5615 38.0742V46.8867H30.2275V38.0059C30.2275 37.8262 30.2236 37.6504 30.2158 37.4785C30.2012 37.1543 30.1729 36.8457 30.1318 36.5547C30.0977 36.3105 30.0547 36.0781 30.0039 35.8594C29.9614 35.6797 29.9136 35.5098 29.8608 35.3496C29.6279 34.543 29.2944 33.9375 28.8613 33.5ZM59.2222 32.6582C60.022 32.9961 60.6885 33.5 61.2549 34.1055C61.8213 34.7109 62.2549 35.4844 62.6211 36.3242C62.7041 36.5664 62.7739 36.8164 62.832 37.0723C62.876 37.2656 62.9131 37.4609 62.9434 37.6602C63.019 38.1582 63.0547 38.6797 63.0547 39.2168V40.7988H53.3564C53.4229 41.3027 53.5898 41.7402 53.7896 42.1445C54.0229 42.5469 54.2896 42.8848 54.623 43.1875C54.8203 43.3672 55.0288 43.5098 55.2563 43.6328C55.3408 43.6777 55.4282 43.7207 55.5186 43.7617C55.5952 43.7949 55.6743 43.8281 55.7559 43.8594C55.9346 43.9297 56.1191 43.9805 56.3096 44.0176C56.5801 44.0723 56.8623 44.0957 57.1558 44.0957C57.5225 44.0957 57.8555 44.0605 58.2222 43.9941C58.3726 43.9668 58.5176 43.9336 58.6592 43.8945C58.8623 43.8379 59.0586 43.7715 59.2554 43.6914C59.5552 43.5566 59.8887 43.3887 60.1553 43.1875C60.4219 42.9844 60.6885 42.75 60.8882 42.4805L62.7212 44.4648C62.6304 44.5957 62.5293 44.7266 62.4185 44.8555C62.2441 45.0566 62.0454 45.2539 61.8213 45.4395C61.6313 45.5957 61.4233 45.752 61.1973 45.9004C60.9878 46.0391 60.7622 46.168 60.5215 46.2812C60.022 46.5508 59.4551 46.752 58.8555 46.8867C58.2554 47.0547 57.5889 47.1211 56.8892 47.1211C56.3799 47.1211 55.8921 47.084 55.4258 47.0098C54.8848 46.9219 54.373 46.7812 53.8896 46.584C52.9897 46.2129 52.2231 45.7422 51.5898 45.1035C51.2817 44.8086 51.0093 44.4922 50.7725 44.1543C50.6494 43.9785 50.5356 43.7969 50.4316 43.6074C50.3599 43.4766 50.2925 43.3438 50.2295 43.209L50.1553 43.043L50.0903 42.8848C49.9688 42.6055 49.8691 42.3184 49.7905 42.0254C49.6987 41.6836 49.6353 41.334 49.5977 40.9727L49.5732 40.6816C49.5625 40.5098 49.5571 40.3359 49.5571 40.1602V39.6211L49.5586 39.4316L49.5669 39.1641C49.5786 38.8848 49.6021 38.6113 49.6362 38.3438L49.6699 38.1074L49.7021 37.916L49.7485 37.6777L49.7964 37.4609C49.8677 37.1621 49.9546 36.873 50.0571 36.5938C50.2188 36.1523 50.4204 35.7441 50.6533 35.3633C50.8999 34.959 51.1816 34.5859 51.4902 34.2402C52.1235 33.5664 52.8564 33.0625 53.6895 32.6934C53.9097 32.5996 54.1323 32.5176 54.3584 32.4492C54.5669 32.3867 54.7778 32.334 54.9927 32.291C55.4604 32.1973 55.9453 32.1543 56.4561 32.1543C57.4888 32.1543 58.4219 32.3223 59.2222 32.6582ZM53.3232 38.2754H59.3555V38.0059C59.3218 37.6035 59.2554 37.2324 59.1221 36.8965C59.0571 36.7168 58.9766 36.5605 58.8843 36.418C58.8452 36.3555 58.8037 36.2969 58.7603 36.2402L58.6782 36.1348L58.5557 35.9883C58.3223 35.7188 58.022 35.5176 57.6558 35.3828C57.2891 35.2148 56.8892 35.1484 56.4224 35.1484C56.0225 35.1484 55.6226 35.248 55.2896 35.3828C55.1289 35.4629 54.9761 35.5527 54.8311 35.6543C54.6748 35.7617 54.5278 35.8828 54.3896 36.0215C54.123 36.291 53.8896 36.627 53.7231 36.998C53.5562 37.3672 53.4229 37.8047 53.3232 38.2754ZM74.186 26.3691H66.1875V29.3965H70.4868V43.8262H66.1875V46.8203H78.2852V43.8262H74.186V26.3691ZM82.0513 32.4238H89.8164V43.8262H93.6826V46.8203H82.0513V43.8262H86.1172V35.4512H82.0513V32.4238ZM87.6709 26.75L87.5361 26.7637C87.3779 26.7832 87.231 26.8184 87.084 26.875C86.8174 26.9766 86.6172 27.1094 86.4175 27.2793C86.2173 27.4473 86.084 27.6484 85.9839 27.918C85.9404 28.0195 85.9033 28.1289 85.8755 28.2441C85.8389 28.3926 85.8174 28.5527 85.8174 28.7246C85.8174 28.9941 85.8843 29.2637 85.9839 29.5312C86.084 29.7676 86.2173 29.9688 86.4175 30.1719C86.6172 30.3398 86.8174 30.4746 87.084 30.5742C87.1514 30.5996 87.2188 30.6211 87.2876 30.6387C87.4897 30.6895 87.7017 30.709 87.9502 30.709C88.2681 30.709 88.5479 30.6699 88.7974 30.5898C89.0708 30.5039 89.3076 30.3652 89.5166 30.1719C89.8833 29.8008 90.083 29.3301 90.083 28.7578C90.083 28.4004 90.0049 28.082 89.8564 27.8027C89.7676 27.6367 89.6538 27.4844 89.5166 27.3457C89.1167 26.9414 88.6167 26.7402 87.9502 26.7402C87.8521 26.7402 87.7593 26.7441 87.6709 26.75ZM123.81 32.6582C124.186 32.8164 124.532 33.0117 124.852 33.2383C124.945 33.3027 125.036 33.3711 125.125 33.4414C125.215 33.5117 125.303 33.5859 125.389 33.6621C125.547 33.8027 125.698 33.9512 125.843 34.1055C126.376 34.7109 126.809 35.4844 127.209 36.3242C127.509 37.1992 127.643 38.1758 127.643 39.2168V40.7988H117.944C118.011 41.3027 118.178 41.7402 118.377 42.1445C118.611 42.5469 118.877 42.8848 119.211 43.1875C119.544 43.4902 119.911 43.6914 120.344 43.8594C120.777 44.0273 121.244 44.0957 121.744 44.0957C122.11 44.0957 122.443 44.0605 122.81 43.9941C123.177 43.9258 123.51 43.8262 123.843 43.6914C124.143 43.5566 124.477 43.3887 124.743 43.1875C125.01 42.9844 125.276 42.75 125.476 42.4805L127.309 44.4648C127.249 44.5508 127.184 44.6367 127.114 44.7227C127.007 44.8574 126.889 44.9902 126.76 45.1191C126.651 45.2285 126.534 45.3359 126.409 45.4395L126.239 45.5742L126.069 45.7031L125.952 45.7871C125.861 45.8516 125.767 45.9141 125.67 45.9746C125.494 46.084 125.307 46.1875 125.109 46.2812C124.938 46.373 124.758 46.457 124.572 46.5332C124.216 46.6816 123.837 46.7988 123.443 46.8867C122.843 47.0547 122.177 47.1211 121.477 47.1211C120.377 47.1211 119.377 46.9531 118.478 46.584C117.578 46.2129 116.811 45.7422 116.178 45.1035C115.511 44.4648 115.012 43.7246 114.678 42.8848C114.534 42.5527 114.42 42.2109 114.336 41.8574C114.304 41.7227 114.276 41.5859 114.252 41.4492L114.23 41.3184C114.173 40.9434 114.145 40.5566 114.145 40.1602V39.6211C114.145 38.5117 114.312 37.502 114.645 36.5938C114.978 35.6855 115.478 34.9121 116.078 34.2402C116.711 33.5664 117.444 33.0625 118.277 32.6934C118.936 32.4121 119.613 32.248 120.34 32.1836C120.569 32.1641 120.804 32.1543 121.044 32.1543C122.077 32.1543 123.01 32.3223 123.81 32.6582ZM117.911 38.2754H123.943V38.0059C123.91 37.6035 123.843 37.2324 123.71 36.8965C123.577 36.5273 123.376 36.2578 123.144 35.9883C122.91 35.7188 122.61 35.5176 122.244 35.3828C121.877 35.2148 121.477 35.1484 121.01 35.1484C120.61 35.1484 120.21 35.248 119.877 35.3828C119.544 35.5508 119.244 35.7539 118.978 36.0215C118.711 36.291 118.478 36.627 118.311 36.998C118.144 37.3672 118.011 37.8047 117.911 38.2754ZM142.773 33.5C142.339 33.0293 141.806 32.6934 141.207 32.4902C140.606 32.2891 139.94 32.1543 139.24 32.1543C138.34 32.1543 137.541 32.3555 136.807 32.7598C136.074 33.1641 135.441 33.7012 134.941 34.4414L134.708 32.457H131.375V46.8867H135.074V36.627C135.154 36.4961 135.242 36.3711 135.339 36.2539C135.405 36.1738 135.475 36.0996 135.548 36.0293C135.617 35.9609 135.689 35.8965 135.765 35.8359C135.836 35.7793 135.909 35.7246 135.985 35.6758C136.036 35.6445 136.088 35.6133 136.141 35.5859C136.574 35.3164 137.107 35.2148 137.74 35.2148L137.979 35.2188L138.188 35.2285C138.325 35.2402 138.456 35.2559 138.581 35.2793C138.682 35.2969 138.779 35.3203 138.874 35.3496C139.207 35.4512 139.507 35.5859 139.74 35.7871C139.973 35.9883 140.173 36.291 140.273 36.6621C140.407 37.0312 140.473 37.502 140.473 38.0742V46.8867H144.139V38.0059C144.139 36.9648 144.006 36.0566 143.772 35.3496C143.656 34.9473 143.515 34.5938 143.349 34.2871C143.182 33.9805 142.99 33.7188 142.773 33.5ZM175.567 36.3594C175.867 37.2324 176 38.209 176 39.252H176.1V40.7988H166.402L166.426 40.959L166.459 41.123C166.49 41.2578 166.528 41.3887 166.571 41.5156C166.646 41.7363 166.736 41.9453 166.835 42.1445C167.068 42.5469 167.335 42.8848 167.668 43.1875C168.001 43.4902 168.368 43.6914 168.801 43.8594C169.234 44.0273 169.701 44.0957 170.201 44.0957C170.568 44.0957 170.901 44.0605 171.268 43.9941C171.634 43.9258 171.967 43.8262 172.301 43.6914C172.601 43.5566 172.934 43.3887 173.201 43.1875C173.467 42.9844 173.734 42.75 173.934 42.4805L175.767 44.4648C175.533 44.8008 175.233 45.1367 174.867 45.4395C174.64 45.627 174.387 45.8145 174.108 45.9863C173.938 46.0918 173.757 46.1914 173.567 46.2812C173.067 46.5508 172.5 46.752 171.901 46.8867C171.615 46.9668 171.314 47.0234 171.002 47.0625C170.658 47.1035 170.301 47.1211 169.935 47.1211C168.834 47.1211 167.835 46.9531 166.935 46.584C166.457 46.3867 166.016 46.1621 165.612 45.8965C165.257 45.6641 164.932 45.4023 164.635 45.1035C163.969 44.4648 163.469 43.7246 163.136 42.8848C163.047 42.6816 162.971 42.4746 162.905 42.2637C162.831 42.0254 162.77 41.7793 162.724 41.5293C162.642 41.0879 162.603 40.6328 162.603 40.1602V39.6211C162.603 38.5117 162.769 37.502 163.103 36.5938C163.436 35.6855 163.936 34.9121 164.536 34.2402C165.169 33.5664 165.902 33.0625 166.735 32.6934C167.602 32.3223 168.501 32.1543 169.501 32.1543C170.077 32.1543 170.623 32.207 171.131 32.3125C171.534 32.3945 171.914 32.5098 172.267 32.6582C172.584 32.793 172.88 32.9531 173.157 33.1348C173.58 33.4102 173.958 33.7402 174.3 34.1055C174.867 34.7441 175.267 35.4844 175.567 36.3594ZM166.369 38.2754H172.4V38.0059C172.381 37.7676 172.35 37.541 172.3 37.3262C172.266 37.1777 172.222 37.0332 172.167 36.8965C172.034 36.5273 171.834 36.2578 171.601 35.9883C171.368 35.7188 171.067 35.5176 170.701 35.3828C170.334 35.2148 169.935 35.1484 169.468 35.1484C169.068 35.1484 168.668 35.248 168.335 35.3828C168.187 35.457 168.046 35.5391 167.911 35.6309C167.742 35.7441 167.583 35.873 167.435 36.0215C167.168 36.291 166.935 36.627 166.769 36.998C166.708 37.1328 166.651 37.2773 166.599 37.4297C166.508 37.6914 166.432 37.9766 166.369 38.2754ZM106.479 33.7695C106.046 33.2305 105.546 32.8281 104.947 32.5586C104.871 32.5234 104.794 32.4902 104.715 32.459C104.637 32.4297 104.556 32.4023 104.474 32.377L104.375 32.3457C104.3 32.3223 104.224 32.3008 104.146 32.2812C103.739 32.1777 103.289 32.1211 102.78 32.1211C101.88 32.1211 101.081 32.2891 100.381 32.6602C99.6812 33.0293 99.0479 33.5 98.5479 34.1719C98.3257 34.457 98.123 34.7676 97.9434 35.1055C97.7188 35.5273 97.5293 35.9902 97.3813 36.4941C97.1147 37.4023 96.9814 38.4102 96.9814 39.4863V39.7559C96.9814 39.9609 96.9863 40.1641 96.9966 40.3652C97.0142 40.7012 97.0464 41.0312 97.0933 41.3535C97.1597 41.8105 97.2559 42.2539 97.3813 42.6816C97.5122 43.127 97.6753 43.5332 97.8662 43.9102C97.9541 44.084 98.0483 44.252 98.1479 44.4141C98.2725 44.6172 98.4062 44.8125 98.5479 45.0039C99.0479 45.6426 99.6475 46.1465 100.348 46.5176C101.047 46.8867 101.847 47.0547 102.747 47.0547C103.165 47.0547 103.553 47.0137 103.912 46.9336C104.031 46.9062 104.146 46.875 104.259 46.8398C104.344 46.8125 104.427 46.7832 104.509 46.752C104.59 46.7207 104.669 46.6875 104.747 46.6523C105.313 46.3828 105.813 46.0117 106.247 45.541V46.3828V48.1309C106.247 48.1738 106.247 48.2031 106.238 48.2344C106.233 48.2539 106.226 48.2734 106.213 48.2988C106.18 48.7363 105.946 48.9727 105.513 48.9727H98.8145V52H107.846C108.446 52 108.946 51.7969 109.346 51.3945C109.746 50.9902 109.912 50.7559 109.912 50.1152V46.3496V45.3398V32.4238H106.58L106.479 33.7695ZM105.561 43.5449C105.472 43.6113 105.378 43.6719 105.28 43.7246C104.847 43.9609 104.347 44.0957 103.68 44.0957C103.147 44.0957 102.714 43.9941 102.347 43.7598C102.135 43.623 101.934 43.4629 101.756 43.2812C101.628 43.1504 101.512 43.0059 101.414 42.8516C101.181 42.4805 100.98 42.0098 100.881 41.5059C100.748 41 100.714 40.4297 100.714 39.8242V39.5547C100.714 38.9492 100.781 38.377 100.914 37.8398C101.047 37.3008 101.214 36.8633 101.48 36.4609C101.747 36.0566 102.047 35.7539 102.414 35.5176C102.78 35.2832 103.247 35.1816 103.747 35.1816C104.38 35.1816 104.88 35.3164 105.313 35.5527C105.747 35.7871 106.08 36.1582 106.313 36.5938V42.6816H106.28C106.165 42.8984 106.025 43.0977 105.861 43.2734C105.769 43.373 105.668 43.4629 105.561 43.5449ZM150.505 28.8926H154.171V32.4238H159.503V35.1484H154.171V41.0352V43.0527V43.1543C154.193 43.4512 154.308 43.6543 154.515 43.7539C154.613 43.8008 154.731 43.8262 154.871 43.8262H155.337H159.103H159.437V46.5508V46.8535H158.37H153.671H152.571C151.971 46.8535 151.471 46.6523 151.071 46.248C150.705 45.8438 150.505 45.5762 150.505 44.9707V44.7344V41.707V35.1484H147.239V32.4238H150.505V28.8926ZM40.4922 28.8926H36.8262V32.4238H33.5601V35.1484H36.8262V41.707V44.7344V44.9707C36.8262 45.5762 37.0259 45.8438 37.3926 46.248C37.6851 46.543 38.0312 46.7305 38.4307 46.8086C38.5776 46.8379 38.7314 46.8535 38.8926 46.8535H39.9922H44.6914H45.7578V46.5508V43.8262H45.4243H41.6587H41.1919C40.8994 43.8262 40.6978 43.7188 40.5874 43.5156C40.5347 43.418 40.5029 43.2969 40.4922 43.1543V43.0527V41.0352V35.1484H45.8242V32.4238H40.4922V28.8926ZM13.9639 8.4082H10.3647V7.86914V7.26367C10.3315 6.69336 10.2314 6.1875 10.0981 5.75195C9.96484 5.31445 9.79834 4.94336 9.53174 4.64062C9.42871 4.53711 9.31592 4.4375 9.19336 4.34766C8.99805 4.20508 8.77734 4.08398 8.53174 4.00195C8.29883 3.9043 8.04297 3.83984 7.76465 3.80273C7.56543 3.77734 7.35449 3.76562 7.13184 3.76562C6.56543 3.76562 6.06543 3.90039 5.63232 4.13672C5.19922 4.40625 4.83252 4.74219 4.56592 5.24609C4.39844 5.56445 4.25732 5.90625 4.14258 6.29297C4.07471 6.52148 4.01562 6.76562 3.96582 7.0293C3.83252 7.73633 3.76611 8.54297 3.76611 9.41797V12.0742C3.76611 13.9922 4.03271 15.4043 4.56592 16.3125C5.09912 17.2207 5.93213 17.6914 7.09863 17.6914C8.06494 17.6914 8.83154 17.4219 9.39844 16.918C9.96484 16.4141 10.2979 15.5723 10.3647 14.3945V13.6211V13.1172H13.9639V13.5879C13.9639 13.7168 13.9639 13.8379 13.96 13.959C13.9561 14.0898 13.9478 14.2207 13.9307 14.3613C13.8643 15.1348 13.731 15.8418 13.4976 16.5137C13.1973 17.3887 12.7642 18.1621 12.1646 18.7676C11.5977 19.373 10.8647 19.8438 9.99805 20.1797C9.49316 20.377 8.9541 20.5156 8.36816 20.5977C7.94873 20.6562 7.50488 20.6855 7.03223 20.6855C6.13232 20.6855 5.33252 20.5508 4.59912 20.3145C4.39893 20.248 4.23242 20.1797 4.06592 20.1133C3.16602 19.6758 2.43311 19.0703 1.83301 18.3301C1.23291 17.5898 0.799805 16.6816 0.466797 15.6055C0.166504 14.5293 0 13.3535 0 12.0742V10.7617V9.48438C0 8.17188 0.166504 6.99609 0.533203 5.91992C0.866699 4.84375 1.33301 3.93555 1.96631 3.16016C2.56641 2.38672 3.33252 1.81641 4.19922 1.37891C4.53271 1.24414 4.86572 1.10938 5.23242 1.00781C5.79883 0.873047 6.39893 0.806641 7.03223 0.806641C8.13184 0.806641 9.13184 0.974609 9.99805 1.31055C10.8647 1.64844 11.5645 2.11914 12.1646 2.72461C12.4912 3.07227 12.7681 3.44922 13.0015 3.86328C13.1963 4.20898 13.3608 4.57812 13.4976 4.97656C13.731 5.68359 13.8975 6.45703 13.9307 7.29883C13.9639 7.5 13.9639 7.70117 13.9639 7.9043V8.4082Z" fill="white"/>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="uk-width-1-2">
          <div>
            <a href="mailto:info@ciudadaniai.org" target="_blank"><svg class="icon-footer" style="margin-left: -4px;" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.5 19.75C12.82 19.75 11.14 18.2625 10.3 17.625C6.1 14.65 4.84 13.5875 4 12.95V21.875C4 23.0484 4.94041 24 6.1 24H22.9C24.0596 24 25 23.0484 25 21.875V12.95C24.16 13.5875 22.9 14.65 18.7 17.625C17.86 18.2625 16.18 19.75 14.5 19.75ZM22.9 7H6.1C4.94041 7 4 7.9516 4 9.125V10.1875C5.68 11.4625 5.47 11.4625 11.56 15.925C12.19 16.35 13.45 17.625 14.5 17.625C15.55 17.625 16.81 16.35 17.44 16.1375C23.53 11.675 23.32 11.675 25 10.4V9.125C25 7.9516 24.0596 7 22.9 7Z" fill="white">
            </svg></a>
            <a href="https://gitlab.com/ciudadaniai" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.52181 4.29481C8.38862 3.90173 7.84726 3.90173 7.70977 4.29481L5.28225 12.0151H10.9536C10.9493 12.0151 8.52181 4.29481 8.52181 4.29481V4.29481ZM4.04056 15.9017C3.92886 16.2551 4.05345 16.6481 4.34562 16.8734L14.9966 25L5.27796 12.0151L4.04056 15.9017ZM10.9493 12.0151L15.0009 25L19.0525 12.0151H10.9493ZM25.9613 15.9017L24.7239 12.0151L15.0009 25L25.6519 16.8734C25.9484 16.6481 26.0687 16.2551 25.9613 15.9017V15.9017ZM22.2921 4.29481C22.1589 3.90173 21.6175 3.90173 21.48 4.29481L19.0482 12.0151H24.7196L22.2921 4.29481Z" fill="white"/>
            </svg></a>
            <a href="https://twitter.com/ciudadania_i" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M22.8414 11.2367C22.8548 11.4226 22.8548 11.6086 22.8548 11.7945C22.8548 17.4656 18.5242 24 10.6092 24C8.17069 24 5.90547 23.2961 4 22.0742C4.34646 22.1141 4.67955 22.1273 5.03934 22.1273C7.05137 22.1273 8.90356 21.45 10.3826 20.2946C8.49049 20.2547 6.90482 19.0195 6.35849 17.3195C6.62501 17.3593 6.89149 17.3859 7.17134 17.3859C7.55775 17.3859 7.9442 17.3328 8.30395 17.2399C6.33187 16.8414 4.85276 15.1148 4.85276 13.0297V12.9766C5.42571 13.2953 6.09201 13.4945 6.79818 13.5211C5.63891 12.7507 4.87942 11.4359 4.87942 9.94841C4.87942 9.15155 5.09258 8.42108 5.4657 7.78357C7.58437 10.3867 10.769 12.0867 14.3401 12.2726C14.2735 11.9539 14.2335 11.6219 14.2335 11.2898C14.2335 8.92576 16.1523 7 18.5374 7C19.7766 7 20.8959 7.51797 21.6821 8.35469C22.6548 8.16876 23.5875 7.81015 24.4137 7.31875C24.0939 8.31487 23.4143 9.15159 22.5216 9.6828C23.3877 9.58988 24.2272 9.35076 25 9.01876C24.4138 9.86873 23.6809 10.6257 22.8414 11.2367V11.2367Z" fill="white"/>
            </svg></a>
            <a href="https://www.instagram.com/ciudadaniai/" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.0022 9.14293C12.1645 9.14293 9.87563 11.5595 9.87563 14.5556C9.87563 17.5516 12.1645 19.9682 15.0022 19.9682C17.8399 19.9682 20.1288 17.5516 20.1288 14.5556C20.1288 11.5595 17.8399 9.14293 15.0022 9.14293ZM15.0022 18.0745C13.1684 18.0745 11.6693 16.4964 11.6693 14.5556C11.6693 12.6147 13.164 11.0366 15.0022 11.0366C16.8405 11.0366 18.3352 12.6147 18.3352 14.5556C18.3352 16.4964 16.836 18.0745 15.0022 18.0745V18.0745ZM21.5343 8.92153C21.5343 9.62343 20.9989 10.184 20.3385 10.184C19.6737 10.184 19.1428 9.61872 19.1428 8.92153C19.1428 8.22434 19.6782 7.65905 20.3385 7.65905C20.9989 7.65905 21.5343 8.22434 21.5343 8.92153ZM24.9297 10.2028C24.8539 8.5117 24.488 7.01369 23.3146 5.77948C22.1456 4.54527 20.7267 4.15899 19.1249 4.07419C17.4741 3.97527 12.5259 3.97527 10.8751 4.07419C9.27775 4.15428 7.8589 4.54056 6.68544 5.77477C5.51199 7.00898 5.15059 8.50699 5.07027 10.1981C4.97658 11.9411 4.97658 17.1653 5.07027 18.9083C5.14612 20.5994 5.51199 22.0974 6.68544 23.3316C7.8589 24.5658 9.27329 24.9521 10.8751 25.0369C12.5259 25.1358 17.4741 25.1358 19.1249 25.0369C20.7267 24.9568 22.1456 24.5706 23.3146 23.3316C24.4835 22.0974 24.8494 20.5994 24.9297 18.9083C25.0234 17.1653 25.0234 11.9458 24.9297 10.2028V10.2028ZM22.797 20.7784C22.449 21.7017 21.7752 22.413 20.8963 22.7852C19.58 23.3363 16.4568 23.2092 15.0022 23.2092C13.5477 23.2092 10.42 23.3316 9.1082 22.7852C8.23369 22.4178 7.55996 21.7064 7.20747 20.7784C6.68544 19.3888 6.80591 16.0913 6.80591 14.5556C6.80591 13.0199 6.68991 9.71764 7.20747 8.33269C7.55549 7.40939 8.22922 6.69807 9.1082 6.32592C10.4244 5.77477 13.5477 5.90195 15.0022 5.90195C16.4568 5.90195 19.5845 5.77948 20.8963 6.32592C21.7708 6.69336 22.4445 7.40468 22.797 8.33269C23.319 9.72235 23.1985 13.0199 23.1985 14.5556C23.1985 16.0913 23.319 19.3935 22.797 20.7784Z" fill="white"/>
            </svg></a>
            <a href="https://www.facebook.com/ciudadaniai/" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19.2792 16.8125L19.8496 13.012H16.2831V10.5457C16.2831 9.50598 16.7813 8.49248 18.3786 8.49248H20V5.25676C20 5.25676 18.5286 5 17.1218 5C14.1847 5 12.2649 6.82027 12.2649 10.1155V13.012H9V16.8125H12.2649V26H16.2831V16.8125H19.2792Z" fill="white"/>
            </svg></a>
            <a href="https://www.youtube.com/channel/UCtiq34lXdXDxo6GhIwnY5Sw" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M26.4776 9.65992C26.1901 8.61292 25.3429 7.78833 24.2673 7.50849C22.3177 7 14.5 7 14.5 7C14.5 7 6.68232 7 4.73266 7.50849C3.65706 7.78837 2.80992 8.61292 2.5224 9.65992C2 11.5577 2 15.5172 2 15.5172C2 15.5172 2 19.4767 2.5224 21.3744C2.80992 22.4214 3.65706 23.2117 4.73266 23.4915C6.68232 24 14.5 24 14.5 24C14.5 24 22.3177 24 24.2673 23.4915C25.3429 23.2117 26.1901 22.4214 26.4776 21.3744C27 19.4767 27 15.5172 27 15.5172C27 15.5172 27 11.5577 26.4776 9.65992V9.65992ZM11.9432 19.1121V11.9223L18.4772 15.5173L11.9432 19.1121V19.1121Z" fill="white"/>
            </svg></a>
            <a href="https://medium.com/@ciudadaniai" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 4V26H26V4H4ZM22.2777 9.21027L21.0991 10.3397C20.996 10.4183 20.9469 10.546 20.9665 10.6688V18.9826C20.9469 19.1103 20.996 19.2379 21.0991 19.3116L22.2531 20.4411V20.6915H16.4585V20.4509L17.6518 19.292C17.7696 19.1741 17.7696 19.1397 17.7696 18.9629V12.2402L14.45 20.667H14.0031L10.1384 12.2402V17.8875C10.104 18.1232 10.1875 18.3638 10.3545 18.5357L11.9062 20.4165V20.667H7.49643V20.4165L9.04821 18.5357C9.21518 18.3638 9.28884 18.1232 9.24955 17.8875V11.3562C9.2692 11.1746 9.20045 10.9978 9.06295 10.875L7.68304 9.21027V8.95982H11.9701L15.2799 16.2277L18.192 8.96473H22.2777V9.21027Z" fill="white"/>
            </svg></a>
            <a href="https://creativecommons.org/licenses/by/4.0/deed.es" target="_blank"><svg class="icon-footer" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.9037 13.1735L13.4303 13.9399C13.012 13.0715 12.3108 13.0559 12.2123 13.0559C11.2307 13.0559 10.7388 13.704 10.7388 15.0004C10.7388 16.0459 11.1473 16.945 12.2123 16.945C12.8541 16.945 13.3056 16.6305 13.5682 16.002L14.9233 16.6895C14.6496 17.2 13.7838 18.4184 12.0358 18.4184C11.0333 18.4184 8.75528 17.9607 8.75528 15.0009C8.75528 12.3977 10.6625 11.5829 11.9768 11.5829C13.3394 11.5825 14.3143 12.1129 14.9037 13.1735V13.1735ZM21.2487 13.1735L19.7948 13.9399C19.3734 13.063 18.654 13.0559 18.5573 13.0559C17.5752 13.0559 17.0838 13.704 17.0838 15.0004C17.0838 16.045 17.4932 16.945 18.5573 16.945C19.1982 16.945 19.6506 16.6305 19.9119 16.002L21.2869 16.6895C21.1937 16.8558 20.3381 18.4184 18.3998 18.4184C17.3934 18.4184 15.1193 17.9806 15.1193 15.0009C15.1193 12.3986 17.0252 11.5829 18.3408 11.5829C19.7029 11.5825 20.673 12.1129 21.2487 13.1735V13.1735ZM14.9805 4C8.64573 4 4 9.10347 4 15C4 21.1427 9.03871 26 14.9805 26C20.7435 26 26 21.5259 26 15C26 8.8848 21.2709 4 14.9805 4V4ZM15.0191 23.9956C10.0274 23.9956 5.98399 19.8688 5.98399 15C5.98399 10.3241 9.77323 5.98399 15.02 5.98399C20.0112 5.98399 24.016 9.95198 24.016 14.9996C24.0156 20.3971 19.5947 23.9956 15.0191 23.9956V23.9956Z" fill="white"/>
            </svg></a>

          </div>
        </div>
      </div>
      <div class="uk-flex uk-flex-center" uk-grid>
        <div class="uk-width-1-1">
          <hr>
          <i class='uil uil-exclamation-triangle'></i>
          <li><p class="font-small">{% t footer.disclaimer %}</p></li>
        </div>
      </div>
    </div>
    <!--end mobile-->

</footer>
