<header uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-dark; top: 600">
    <nav class="uk-navbar-container animated fadeIn delay-1s">
      <div class="uk-container nav-width">
        <div class="uk-visible@m navbar-language">
          <a href="#">{% t navbar.language %}</a>
          <div uk-dropdown>
            <ul class="uk-nav uk-navbar-dropdown-nav">
                {% if site.lang == "es" %}
                  {% capture link_en %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %}
                  {% capture link_pt %}{{ site.baseurl_root }}/pt{{ page.url}}{% endcapture %}
                  <li> <a href="{{ link_en }}" >English</a> </li>
                  <li> <a href="{{ link_pt }}" >Português</a> </li>
                {% elsif site.lang == "pt" %}
                  {% capture link_es %}{{ site.baseurl_root }}{{ page.url  }}{% endcapture %}
                  {% capture link_en %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %}
                  <li> <a href="{{ link_es }}" >Español</a> </li>
                  <li> <a href="{{ link_en }}" >English</a> </li>
                {% elsif site.lang == "en" %}
                  {% capture link_es %}{{ site.baseurl_root }}{{ page.url  }}{% endcapture %}
                  {% capture link_pt %}{{ site.baseurl_root }}/pt{{ page.url}}{% endcapture %}
                  <li> <a href="{{ link_es }}" >Español</a> </li>
                  <li> <a href="{{ link_pt }}" >Português</a> </li>
                {% endif %}
            </ul>
          </div>
        </div>
        <div uk-navbar>
          <div class="uk-navbar-left">
            <ul class="uk-list">
              <li>
                <a href="{{ site.baseurl_root }}{{ page.url }}" class="logo-navbar">
                  <svg width="334" height="24" viewBox="0 0 334 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M21.1185 3.52821C21.3045 3.69023 21.5177 3.81814 21.7482 3.90604C22.0109 3.9986 22.2885 4.04131 22.5668 4.03198C23.1077 4.06528 23.64 3.88431 24.0486 3.52821C24.3921 3.17331 24.5841 2.69875 24.5841 2.20485C24.5841 1.71095 24.3921 1.23639 24.0486 0.881486C23.7022 0.535149 23.1985 0.377721 22.5668 0.377721C22.2885 0.36839 22.0109 0.411102 21.7482 0.503662C21.5177 0.59156 21.3045 0.719465 21.1185 0.881486C20.9315 1.03795 20.7901 1.24187 20.7092 1.47183C20.6056 1.71032 20.5521 1.96749 20.5518 2.22748C20.5583 2.48742 20.6116 2.74406 20.7092 2.98509C20.8057 3.193 20.9452 3.3781 21.1185 3.52821" fill="white"/>
                  <path d="M27.9542 16.3508H24.3V5.67139H16.958V8.50703H20.8031V16.3508H16.958V19.1549H27.9542V16.3508Z" fill="white"/>
                  <path d="M32.8077 18.0904C33.2148 18.5607 33.7359 18.9185 34.321 19.1294C34.9366 19.3509 35.5875 19.4577 36.2416 19.4442C36.9839 19.451 37.714 19.2551 38.3531 18.8775C39.0097 18.481 39.5696 17.9433 39.9923 17.3032L40.1891 19.1943H43.3376V5.66943H39.8349V15.1544C39.6215 15.6017 39.2787 15.9747 38.8509 16.2249C38.3369 16.4933 37.7618 16.6235 37.1822 16.6027C36.829 16.6062 36.4776 16.5531 36.1412 16.4453C35.8627 16.3552 35.6201 16.1788 35.4486 15.9415C35.2429 15.6766 35.1124 15.3612 35.0708 15.0284C34.9746 14.5725 34.9324 14.1069 34.9448 13.6411V5.66943H31.4775V13.6726C31.4648 14.5566 31.5815 15.4376 31.8238 16.2878C32.0221 16.9491 32.3574 17.5613 32.8077 18.0845" fill="white"/>
                  <path d="M47.7741 17.4841C48.2141 18.0788 48.7851 18.5643 49.4428 18.9029C50.1254 19.2499 50.8832 19.4229 51.6487 19.4067C52.336 19.4174 53.0161 19.2664 53.6343 18.9659C54.2199 18.6674 54.7356 18.2482 55.1475 17.736L55.3443 19.1548H58.4555V0H54.9586V6.87362C54.566 6.42073 54.0826 6.05535 53.5398 5.80116C52.9553 5.53999 52.3203 5.41098 51.6802 5.42333C50.904 5.40326 50.135 5.57708 49.4428 5.92906C48.7845 6.26601 48.2133 6.75099 47.7741 7.3459C47.2808 7.98746 46.9263 8.72461 46.7331 9.51051C46.4844 10.4239 46.3677 11.3682 46.3868 12.3147V12.5803C46.3855 13.505 46.5019 14.4262 46.7331 15.3215C46.9394 16.1026 47.2927 16.8373 47.7741 17.4861V17.4841ZM49.8206 12.3206C49.8227 11.7808 49.876 11.2425 49.98 10.7129C50.0602 10.2581 50.2201 9.8211 50.4523 9.42196C50.6594 9.06255 50.9512 8.75922 51.3024 8.5384C51.6831 8.3142 52.1204 8.20485 52.5618 8.22355C53.0817 8.20529 53.5959 8.3364 54.0436 8.60137C54.4434 8.87455 54.7687 9.24318 54.9901 9.67384V15.1562C54.7719 15.5885 54.4459 15.9572 54.0436 16.2267C53.5959 16.4917 53.0817 16.6228 52.5618 16.6045C52.1203 16.6242 51.6827 16.5148 51.3024 16.2897C50.9596 16.0728 50.6692 15.7824 50.4523 15.4396C50.2201 15.051 50.0601 14.6237 49.98 14.1782C49.8745 13.6601 49.8211 13.1327 49.8206 12.6039V12.3206Z" fill="white"/>
                  <path d="M64.5359 19.1234C65.1451 19.3299 65.7837 19.4362 66.427 19.4382C66.8294 19.4448 67.2311 19.4025 67.6234 19.3123C67.9668 19.2308 68.3041 19.1256 68.6329 18.9974C68.926 18.878 69.2014 18.7191 69.4515 18.5251C69.6928 18.3531 69.9146 18.1552 70.1127 17.9348C70.1467 18.1695 70.1994 18.4011 70.2701 18.6275C70.3189 18.8251 70.3929 19.0156 70.4905 19.1942H74.0208V18.9738C73.8235 18.5865 73.6849 18.172 73.6095 17.7439C73.5113 17.151 73.4691 16.5501 73.4836 15.9493V10.1442C73.4945 9.42655 73.3438 8.71568 73.0428 8.06417C72.7705 7.4808 72.3598 6.9728 71.8464 6.58436C71.2971 6.17936 70.6771 5.88039 70.0182 5.70278C69.2795 5.49613 68.5164 5.38957 67.7493 5.38596C66.9277 5.38002 66.1098 5.49742 65.323 5.73426C64.6703 5.9325 64.0613 6.25304 63.5283 6.67882C63.0676 7.04576 62.6911 7.50748 62.4244 8.03268C62.1736 8.54261 62.0443 9.10365 62.0466 9.67188H65.5198C65.5107 9.44554 65.5479 9.21971 65.6291 9.00823C65.7103 8.79676 65.8338 8.60408 65.9921 8.44199C66.3069 8.12714 66.8422 8.0012 67.5348 8.0012C68.322 8.0012 68.9537 8.19798 69.363 8.56793C69.573 8.76489 69.7379 9.00488 69.8466 9.27149C69.9553 9.5381 70.0051 9.82504 69.9927 10.1127V10.8998H68.0701C65.9606 10.8998 64.3843 11.2776 63.3138 12.0667C62.2433 12.8558 61.7061 13.9558 61.7061 15.3746C61.7025 15.9251 61.8192 16.4697 62.0479 16.9703C62.2767 17.471 62.612 17.9157 63.0305 18.2733C63.4739 18.6526 63.9873 18.9414 64.5418 19.1234H64.5359ZM65.3919 14.2707C65.5156 14.0106 65.6998 13.7839 65.9291 13.6095C66.2113 13.401 66.5325 13.2511 66.8737 13.1687C67.3249 13.0613 67.7873 13.0085 68.2511 13.0113H70.0222V15.3353C69.9133 15.5238 69.7751 15.6939 69.6129 15.8391C69.4215 16.0108 69.2101 16.1588 68.9832 16.2799C68.7257 16.4227 68.4495 16.5286 68.1626 16.5947C67.8428 16.6857 67.5111 16.7281 67.1787 16.7206C66.5175 16.7206 66.0137 16.5632 65.6989 16.2484C65.5389 16.0994 65.4115 15.9191 65.3245 15.7186C65.2374 15.5182 65.1927 15.3019 65.1931 15.0834C65.1945 14.7984 65.2618 14.5175 65.3899 14.2628" fill="white"/>
                  <path d="M80.102 18.903C80.7845 19.2503 81.5423 19.4234 82.3079 19.4067C82.9951 19.4169 83.6751 19.266 84.2935 18.9659C84.8788 18.6678 85.394 18.2486 85.8048 17.736L86.0015 19.1548H89.1205V0H85.6158V6.87362C85.224 6.41986 84.7405 6.05434 84.197 5.80116C83.6131 5.54021 82.9789 5.41121 82.3394 5.42333C81.5631 5.40284 80.794 5.57668 80.102 5.92906C79.4432 6.266 78.8713 6.75095 78.4313 7.3459C77.9379 7.98714 77.584 8.72445 77.3923 9.51051C77.1435 10.4239 77.0269 11.3682 77.046 12.3147V12.5803C77.0447 13.505 77.1611 14.4262 77.3923 15.3215C77.6171 16.0953 77.9682 16.8267 78.4313 17.4861C78.8795 18.0739 79.4494 18.5579 80.102 18.9049V18.903ZM80.5113 12.3206C80.5137 11.7809 80.5664 11.2427 80.6687 10.7129C80.7489 10.2581 80.9088 9.8211 81.141 9.42196C81.3491 9.06265 81.6416 8.75941 81.9931 8.5384C82.3736 8.31399 82.8111 8.20463 83.2525 8.22355C83.7723 8.20551 84.2865 8.33661 84.7343 8.60137C85.1339 8.87417 85.4587 9.24293 85.6788 9.67384V15.1562C85.4614 15.5884 85.136 15.9571 84.7343 16.2267C84.2865 16.4915 83.7723 16.6226 83.2525 16.6045C82.811 16.6245 82.3733 16.515 81.9931 16.2897C81.6499 16.0726 81.3589 15.7823 81.141 15.4396C80.9088 15.051 80.7488 14.6237 80.6687 14.1782C80.5648 13.6599 80.5121 13.1326 80.5113 12.6039V12.3206Z" fill="white"/>
                  <path d="M104.174 15.9413V10.1441C104.184 9.42662 104.033 8.716 103.733 8.06413C103.461 7.4802 103.049 6.97206 102.535 6.58432C101.986 6.1793 101.367 5.88031 100.709 5.70273C99.9699 5.49636 99.2068 5.38981 98.4397 5.38591C97.6207 5.38061 96.8055 5.49802 96.0213 5.73422C95.368 5.93245 94.7583 6.25298 94.2246 6.67878C93.7644 7.04575 93.3886 7.5075 93.1227 8.03264C92.8719 8.54256 92.7426 9.10361 92.7448 9.67184H96.2102C96.201 9.44578 96.2382 9.22023 96.3194 9.00906C96.4006 8.79789 96.5242 8.60557 96.6825 8.44392C96.9973 8.1271 97.5345 8.00116 98.2272 8.00116C99.0143 8.00116 99.644 8.19794 100.055 8.56789C100.265 8.76485 100.43 9.00484 100.539 9.27145C100.648 9.53806 100.697 9.825 100.685 10.1126V10.8998H98.7625C96.651 10.8998 95.0767 11.2796 94.0043 12.0667C92.9318 12.8538 92.3985 13.9558 92.3985 15.3746C92.3951 15.9248 92.5116 16.4692 92.74 16.9698C92.9683 17.4704 93.3031 17.9152 93.7209 18.2732C94.1645 18.6365 94.6652 18.9238 95.2027 19.1233C95.8118 19.33 96.4505 19.4363 97.0937 19.4382C97.4962 19.4447 97.8979 19.4024 98.2902 19.3122C98.6329 19.2307 98.9696 19.1255 99.2977 18.9974C99.5908 18.8779 99.8662 18.719 100.116 18.5251C100.359 18.3536 100.581 18.1556 100.779 17.9348C100.813 18.1695 100.866 18.4011 100.937 18.6274C100.986 18.825 101.06 19.0155 101.157 19.1942H104.68V18.9738C104.482 18.5867 104.344 18.1721 104.27 17.7439C104.201 17.1483 104.169 16.5488 104.176 15.9492L104.174 15.9413ZM100.679 15.3195C100.57 15.508 100.432 15.6781 100.27 15.8233C100.078 15.9951 99.8657 16.1431 99.6381 16.2641C99.3812 16.4065 99.1057 16.5125 98.8195 16.5789C98.4997 16.6699 98.168 16.7124 97.8356 16.7049C97.1725 16.7049 96.6687 16.5474 96.3538 16.2326C96.1946 16.0833 96.0677 15.9028 95.981 15.7024C95.8943 15.502 95.8498 15.286 95.8501 15.0676C95.8477 14.7721 95.9151 14.4801 96.0469 14.2156C96.1689 13.9549 96.3526 13.728 96.5821 13.5544C96.8649 13.3454 97.1868 13.1955 97.5286 13.1136C97.9798 13.0061 98.4423 12.9533 98.9061 12.9561H100.677L100.679 15.3195Z" fill="white"/>
                  <path d="M111.548 9.57716C111.793 9.16704 112.14 8.82788 112.556 8.59324C113.018 8.33928 113.542 8.21934 114.069 8.24691C114.43 8.23643 114.791 8.27886 115.14 8.37285C115.439 8.45106 115.718 8.59043 115.96 8.78215C116.205 9.00077 116.38 9.28598 116.464 9.60274C116.605 10.029 116.671 10.4763 116.661 10.9251V19.1802H120.126V10.8681C120.142 10.0253 120.025 9.18526 119.78 8.37875C119.602 7.74667 119.263 7.17165 118.796 6.71003C118.389 6.27546 117.88 5.95 117.314 5.76351C116.715 5.55958 116.087 5.45327 115.455 5.44866C114.652 5.43798 113.86 5.63381 113.154 6.01736C112.445 6.39102 111.837 6.93125 111.383 7.59162L111.226 5.66905H108.077V19.1861H111.548V9.57716Z" fill="white"/>
                  <path d="M131.68 5.67139H124.151V8.50703H128.183V16.3508H124.151V19.1549H135.557V16.3508H131.68V5.67139Z" fill="white"/>
                  <path d="M134.674 0.503906H130.862L128.53 4.00074H131.209L134.674 0.503906Z" fill="white"/>
                  <path d="M150.176 15.9414V10.1442C150.186 9.42666 150.035 8.71604 149.735 8.06417C149.463 7.4808 149.052 6.9728 148.539 6.58436C147.989 6.17984 147.369 5.88091 146.711 5.70278C145.972 5.49613 145.209 5.38957 144.442 5.38596C143.62 5.38002 142.802 5.49742 142.015 5.73426C141.362 5.93293 140.753 6.25343 140.219 6.67882C139.759 7.04649 139.384 7.50807 139.117 8.03268C138.866 8.54261 138.737 9.10365 138.739 9.67188H142.204C142.195 9.44563 142.232 9.21986 142.314 9.00862C142.395 8.79737 142.52 8.60517 142.679 8.44396C142.993 8.12714 143.529 8.0012 144.221 8.0012C145.008 8.0012 145.64 8.19798 146.049 8.56793C146.259 8.76489 146.424 9.00488 146.533 9.27149C146.642 9.5381 146.692 9.82504 146.679 10.1127V10.8998H144.757C142.647 10.8998 141.071 11.2796 140 12.0667C138.93 12.8539 138.393 13.9558 138.393 15.3746C138.389 15.9251 138.506 16.4697 138.734 16.9703C138.963 17.471 139.299 17.9157 139.717 18.2733C140.16 18.6361 140.66 18.9233 141.197 19.1234C141.805 19.3299 142.443 19.4362 143.086 19.4382C143.489 19.4449 143.891 19.4026 144.284 19.3123C144.627 19.2308 144.964 19.1256 145.292 18.9974C145.586 18.8784 145.862 18.7195 146.112 18.5251C146.354 18.3531 146.576 18.1552 146.774 17.9348C146.808 18.1695 146.86 18.4011 146.931 18.6275C146.98 18.8251 147.054 19.0156 147.151 19.1942H150.682V18.9738C150.484 18.5868 150.345 18.1722 150.27 17.7439C150.201 17.1483 150.169 16.5489 150.176 15.9493V15.9414ZM146.711 15.3195C146.602 15.5081 146.464 15.6781 146.301 15.8233C145.887 16.1901 145.389 16.4496 144.851 16.579C144.531 16.67 144.2 16.7124 143.867 16.7049C143.206 16.7049 142.702 16.5475 142.385 16.2326C142.226 16.0833 142.099 15.9028 142.013 15.7024C141.926 15.5021 141.881 15.286 141.882 15.0677C141.879 14.7721 141.947 14.4802 142.078 14.2156C142.201 13.9548 142.385 13.7278 142.616 13.5544C142.898 13.3459 143.219 13.196 143.56 13.1136C144.011 13.0062 144.474 12.9533 144.938 12.9562H146.709L146.711 15.3195Z" fill="white"/>
                  <path d="M165.553 19.1548H154.179V21.8645H165.553V19.1548Z" fill="white"/>
                  <path d="M168.427 3.81171H171.863V16.3507H168.427V19.1549H178.919V16.3507H175.391V3.81171H178.919V0.976074H168.427V3.81171Z" fill="white"/>
                  <path d="M194.358 6.67888C193.952 6.24391 193.443 5.91892 192.878 5.73432C192.279 5.52988 191.651 5.42292 191.018 5.4175C190.216 5.40569 189.423 5.60088 188.718 5.98423C188.009 6.35809 187.401 6.89828 186.947 7.55849L186.734 5.70283H183.586V19.2179H187.085V9.60897C187.328 9.19782 187.675 8.85835 188.092 8.62506C188.554 8.37048 189.077 8.24984 189.604 8.27675C189.965 8.26714 190.326 8.30955 190.676 8.40269C190.974 8.48238 191.253 8.62236 191.495 8.81397C191.74 9.03099 191.915 9.31588 191.998 9.63258C192.139 10.0589 192.206 10.5062 192.195 10.955V19.21H195.662V10.9038C195.678 10.061 195.561 9.22101 195.316 8.4145C195.151 7.76679 194.826 7.17115 194.37 6.68281" fill="white"/>
                  <path d="M224.986 7.24523C224.448 6.66293 223.793 6.20146 223.063 5.89136C222.231 5.56338 221.342 5.40289 220.448 5.41908C219.549 5.40574 218.657 5.5772 217.827 5.92285C217.043 6.26099 216.336 6.75357 215.747 7.37117C215.159 8.01373 214.7 8.76241 214.393 9.5771C214.068 10.4867 213.908 11.447 213.921 12.4127V12.9165C213.908 13.7949 214.079 14.6663 214.422 15.4747C214.739 16.2624 215.224 16.972 215.841 17.5547C216.463 18.1545 217.199 18.623 218.006 18.9322C218.909 19.2828 219.872 19.4539 220.841 19.4359C221.468 19.446 222.094 19.3719 222.701 19.2155C223.249 19.0983 223.778 18.9077 224.275 18.6488C224.717 18.4389 225.13 18.1744 225.505 17.8617C225.829 17.5968 226.115 17.2889 226.355 16.9466L224.622 15.089C224.423 15.341 224.19 15.5636 223.929 15.7502C223.664 15.9379 223.378 16.0962 223.079 16.2225C222.762 16.3506 222.432 16.4455 222.095 16.5058C221.763 16.5684 221.425 16.6001 221.087 16.6003C220.637 16.6092 220.188 16.5344 219.765 16.3799C219.371 16.2398 219.007 16.0261 218.693 15.7502C218.032 15.1769 217.606 14.3803 217.496 13.5128H226.682V12.033C226.698 11.1155 226.561 10.2018 226.277 9.32916C225.967 8.5678 225.531 7.86448 224.986 7.24916V7.24523ZM223.189 11.1573H217.482C217.565 10.7455 217.692 10.3438 217.86 9.95886C218.157 9.29408 218.683 8.75789 219.342 8.44757C219.682 8.30811 220.045 8.23336 220.412 8.22717C220.812 8.21522 221.21 8.29043 221.577 8.44757C221.905 8.56065 222.199 8.75575 222.429 9.0143C222.661 9.26026 222.843 9.549 222.965 9.8644C223.089 10.1979 223.164 10.5481 223.185 10.9034L223.189 11.1573Z" fill="white"/>
                  <path d="M237.211 0H229.648V2.83564H233.714V16.3507H229.648V19.1548H241.087V16.3507H237.211V0Z" fill="white"/>
                  <path d="M251.989 5.67139H244.647V8.50703H248.491V16.3508H244.647V19.1549H255.644V16.3508H251.989V5.67139Z" fill="white"/>
                  <path d="M250.224 0.346288C249.946 0.336956 249.668 0.379668 249.405 0.472229C249.175 0.560126 248.962 0.68803 248.776 0.850051C248.588 1.0064 248.446 1.2103 248.364 1.4404C248.261 1.67951 248.207 1.93736 248.207 2.19801C248.214 2.45729 248.267 2.71324 248.364 2.95366C248.462 3.17544 248.601 3.37601 248.776 3.54401C248.962 3.70603 249.175 3.83393 249.405 3.92183C249.668 4.01439 249.946 4.0571 250.224 4.04777C250.765 4.08064 251.297 3.89973 251.706 3.54401C252.049 3.1891 252.241 2.71455 252.241 2.22064C252.241 1.72674 252.049 1.25218 251.706 0.897277C251.512 0.70515 251.28 0.555543 251.025 0.457972C250.769 0.360401 250.497 0.317004 250.224 0.330545" fill="white"/>
                  <path d="M286.049 7.24523C285.511 6.66292 284.856 6.20146 284.127 5.89136C283.294 5.56338 282.406 5.40289 281.511 5.41908C280.614 5.40655 279.724 5.57799 278.896 5.92285C278.113 6.26151 277.406 6.75402 276.816 7.37117C276.229 8.01373 275.769 8.76241 275.462 9.5771C275.137 10.4867 274.977 11.447 274.99 12.4127V12.9165C274.977 13.7951 275.148 14.6668 275.494 15.4747C275.809 16.2627 276.293 16.9725 276.911 17.5547C277.532 18.1545 278.268 18.623 279.075 18.9321C279.979 19.2826 280.942 19.4537 281.911 19.4359C282.538 19.446 283.163 19.3719 283.77 19.2155C284.318 19.0983 284.848 18.9077 285.345 18.6488C285.786 18.4389 286.199 18.1744 286.575 17.8617C286.898 17.5968 287.184 17.2889 287.425 16.9466L285.693 15.089C285.493 15.3406 285.259 15.5631 284.998 15.7502C284.733 15.9379 284.448 16.0962 284.148 16.2225C283.831 16.3506 283.501 16.4455 283.164 16.5058C282.838 16.5708 282.507 16.6057 282.175 16.6101C281.724 16.619 281.276 16.5443 280.852 16.3897C280.458 16.2491 280.094 16.0355 279.78 15.76C279.119 15.1867 278.693 14.3901 278.583 13.5226H287.751V12.0428C287.766 11.1231 287.628 10.2073 287.342 9.33309C287.009 8.58408 286.574 7.88424 286.051 7.2531L286.049 7.24523ZM284.255 11.1612H278.548C278.631 10.7495 278.758 10.3477 278.926 9.9628C279.08 9.62357 279.293 9.31442 279.555 9.04972C279.805 8.80849 280.092 8.60914 280.405 8.45938C280.746 8.32007 281.11 8.24533 281.478 8.23898C281.878 8.22674 282.277 8.30195 282.645 8.45938C282.972 8.57299 283.264 8.76804 283.495 9.02611C283.727 9.27207 283.909 9.5608 284.03 9.87621C284.155 10.2097 284.229 10.5599 284.251 10.9152L284.255 11.1612Z" fill="white"/>
                  <path d="M302.05 6.67878C301.644 6.24447 301.134 5.91962 300.568 5.73423C299.97 5.52963 299.342 5.42265 298.709 5.41741C297.906 5.40673 297.114 5.60256 296.409 5.98611C295.699 6.35977 295.092 6.9 294.637 7.56037L294.417 5.70274H291.269V19.2178H294.769V9.60888C295.013 9.19819 295.36 8.85886 295.777 8.62497C296.239 8.37013 296.763 8.24949 297.29 8.27666C297.651 8.26715 298.012 8.30957 298.361 8.4026C298.659 8.4823 298.939 8.62227 299.181 8.81388C299.426 9.03144 299.601 9.31612 299.685 9.63249C299.826 10.0588 299.892 10.5061 299.882 10.9549V19.2099H303.347V10.9037C303.363 10.0609 303.246 9.22092 303.001 8.41441C302.837 7.76655 302.513 7.17072 302.056 6.68272" fill="white"/>
                  <path d="M333.468 12.0664C333.483 11.1467 333.345 10.231 333.059 9.35672C332.807 8.5795 332.4 7.86131 331.863 7.24525C331.325 6.66295 330.67 6.20148 329.94 5.89138C329.108 5.56325 328.219 5.40276 327.325 5.4191C326.428 5.40657 325.538 5.57802 324.71 5.92287C323.927 6.26105 323.22 6.75364 322.632 7.37119C322.043 8.01315 321.583 8.76196 321.276 9.57712C320.951 10.4867 320.791 11.447 320.803 12.4128V12.9165C320.79 13.7952 320.962 14.6668 321.307 15.4747C321.623 16.2627 322.106 16.9725 322.724 17.5547C323.346 18.1541 324.082 18.6225 324.889 18.9322C325.792 19.2826 326.755 19.4537 327.724 19.4359C328.351 19.446 328.977 19.3719 329.584 19.2155C330.132 19.0978 330.661 18.9072 331.158 18.6488C331.599 18.4384 332.011 18.174 332.386 17.8617C332.71 17.5968 332.996 17.289 333.236 16.9466L331.505 15.089C331.305 15.3405 331.072 15.5631 330.812 15.7502C330.545 15.9375 330.26 16.0958 329.96 16.2225C329.642 16.3505 329.313 16.4454 328.976 16.5058C328.643 16.5685 328.305 16.6001 327.966 16.6003C327.516 16.6092 327.067 16.5345 326.644 16.3799C326.25 16.2389 325.886 16.0253 325.572 15.7502C324.911 15.1769 324.485 14.3803 324.375 13.5128H333.545V12.0645L333.468 12.0664ZM330.066 11.1534H324.359C324.442 10.7416 324.569 10.3399 324.737 9.95494C324.891 9.61519 325.105 9.30592 325.369 9.04187C325.618 8.79977 325.905 8.60032 326.219 8.45152C326.559 8.31206 326.922 8.23731 327.289 8.23113C327.69 8.21889 328.088 8.2941 328.456 8.45152C328.784 8.56459 329.076 8.75972 329.306 9.01826C329.538 9.26422 329.72 9.55296 329.842 9.86836C329.966 10.2018 330.041 10.552 330.062 10.9074L330.066 11.1534Z" fill="white"/>
                  <path d="M267.742 6.93009C267.357 6.44137 266.859 6.0526 266.292 5.79662C265.647 5.51568 264.949 5.37612 264.245 5.38731C263.459 5.36722 262.68 5.54019 261.976 5.89108C261.298 6.22548 260.706 6.71003 260.243 7.30791C259.74 7.95581 259.366 8.6939 259.141 9.48236C258.879 10.3918 258.75 11.3343 258.757 12.2806V12.5325C258.754 13.4625 258.887 14.3879 259.151 15.2796C259.384 16.062 259.757 16.7955 260.253 17.4442C260.712 18.0335 261.292 18.5174 261.955 18.863C262.658 19.2136 263.436 19.3866 264.222 19.3668C264.872 19.3822 265.518 19.2532 266.113 18.9889C266.648 18.7373 267.13 18.3845 267.532 17.9499V20.3763C267.536 20.4307 267.525 20.4853 267.5 20.5337C267.504 20.6204 267.49 20.7069 267.457 20.7874C267.425 20.8679 267.376 20.9406 267.313 21.0003C267.25 21.0601 267.175 21.1056 267.093 21.1337C267.011 21.1618 266.923 21.172 266.837 21.1634H260.495V23.999H269.033C269.296 24.0063 269.557 23.9598 269.801 23.8623C270.045 23.7649 270.267 23.6185 270.452 23.4323C270.83 23.0525 270.987 22.8419 270.987 22.2339V5.67068H267.839L267.742 6.93009ZM267.545 15.2796C267.334 15.6936 267.004 16.0359 266.599 16.2635C266.133 16.5065 265.613 16.6258 265.088 16.6098C264.646 16.6297 264.207 16.5203 263.826 16.295C263.474 16.0791 263.173 15.789 262.945 15.4449C262.702 15.059 262.531 14.6323 262.441 14.1855C262.322 13.6695 262.269 13.1405 262.283 12.6112V12.3593C262.283 11.8174 262.349 11.2775 262.48 10.7516C262.581 10.2931 262.762 9.85609 263.016 9.46072C263.243 9.10721 263.544 8.80659 263.897 8.57913C264.28 8.35754 264.717 8.24777 265.158 8.26231C265.673 8.25053 266.183 8.37042 266.638 8.61062C267.044 8.83823 267.373 9.18051 267.585 9.59453V15.3012L267.545 15.2796Z" fill="white"/>
                  <path d="M312.831 2.36328H309.364V5.6712H306.276V8.22937H309.364V17.429C309.364 17.9977 309.561 18.2496 309.901 18.6274C310.086 18.8135 310.307 18.9599 310.551 19.0573C310.795 19.1548 311.056 19.2013 311.318 19.1941H317.812V16.3506H313.496C313.087 16.3506 312.867 16.1302 312.835 15.7209V8.2215H317.877V5.66333H312.835L312.831 2.36328Z" fill="white"/>
                  <path d="M205.355 2.36328H201.887V5.6712H198.802V8.22937H201.887V17.429C201.887 17.9977 202.084 18.2496 202.423 18.6274C202.608 18.8137 202.829 18.9601 203.073 19.0576C203.317 19.155 203.579 19.2015 203.841 19.1941H210.335V16.3506H206.02C205.933 16.3592 205.846 16.349 205.764 16.3209C205.682 16.2928 205.607 16.2473 205.544 16.1875C205.481 16.1278 205.432 16.0552 205.399 15.9746C205.367 15.8941 205.352 15.8076 205.357 15.7209V8.2215H210.398V5.66333H205.355V2.36328Z" fill="white"/>
                  <path d="M9.80719 7.87493H13.2096V7.40265C13.2148 7.21319 13.2043 7.02363 13.1781 6.83591C13.1442 6.09871 13.0064 5.36999 12.7688 4.6713C12.5181 3.88335 12.0893 3.16373 11.5157 2.56823C10.942 1.97274 10.2389 1.51737 9.46085 1.23745C8.56219 0.909903 7.6111 0.749832 6.65473 0.765166C6.08229 0.764823 5.51175 0.830858 4.95453 0.961949C4.61999 1.05782 4.29144 1.17347 3.97062 1.30829C3.15075 1.69944 2.42968 2.27051 1.8611 2.97897C1.24328 3.74171 0.782488 4.61916 0.505269 5.56076C0.152257 6.64004 -0.0180064 7.77069 0.00150557 8.90607V11.3304C-0.00394914 12.4487 0.144375 13.5624 0.442303 14.6403C0.703671 15.5683 1.14202 16.437 1.7332 17.1985C2.30529 17.9042 3.02632 18.4747 3.84467 18.8692C4.0021 18.9321 4.15953 18.9951 4.34844 19.066C5.09262 19.3001 5.8687 19.4169 6.64883 19.4123C7.6054 19.4304 8.55699 19.2702 9.45495 18.94C10.2325 18.6592 10.9351 18.2035 11.5086 17.6081C12.0821 17.0128 12.5113 16.2936 12.7629 15.5062C12.9881 14.8419 13.1269 14.1514 13.1761 13.4517C13.2023 13.2113 13.2128 12.9694 13.2076 12.7276V12.2868H9.80719V13.4832C9.74422 14.5852 9.4274 15.3743 8.89215 15.8446C8.35691 16.3149 7.63274 16.5688 6.7177 16.5688C5.61572 16.5688 4.82859 16.128 4.32286 15.2779C3.81713 14.4278 3.56721 13.1034 3.56721 11.3068V8.82145C3.56327 8.07116 3.62915 7.32212 3.764 6.58403C3.86332 5.99948 4.0511 5.43347 4.32089 4.90547C4.55539 4.47286 4.9047 4.11333 5.33039 3.86646C5.76626 3.63431 6.2534 3.51523 6.74722 3.52012C7.19886 3.50584 7.64889 3.58073 8.07157 3.74052C8.42791 3.86146 8.75127 4.06356 9.01612 4.33087C9.26789 4.63422 9.45054 4.98878 9.55137 5.36988C9.69349 5.83071 9.77874 6.30717 9.80522 6.78869V7.85918L9.80719 7.87493Z" fill="white"/>
                  </svg>
                </a>
              </li>
              <li class="navbar-fci"><a href="https://ciudadaniai.org/" target="_blank">{% t navbar.fci %}</a></li>
            </ul>
          </div>
          <div class="uk-visible@m uk-navbar-right">
            <ul class="uk-navbar-nav">
              <li><a href="#" class="font-little-title">{% t navbar.item_1 %}</a></li>
              <li><a href="#" class="font-little-title">{% t navbar.item_2 %}</a></li>
              <li><a href="#" class="font-little-title">{% t navbar.item_3 %}</a></li>
              <li><a href="#" class="font-little-title uk-button uk-button-default">{% t navbar.item_4 %}</a></li>
            </ul>
          </div>
          <div class="uk-hidden@m uk-navbar-right">
            <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-flip"></a>
            <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true; mode: push">
              <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-text-center">
                  <button class="uk-offcanvas-close" type="button" uk-close></button>
                  <ul class="uk-list">
                    <li><a href="#" class="font-little-title">{% t navbar.item_1 %}</a></li>
                    <li><a href="#" class="font-little-title">{% t navbar.item_2 %}</a></li>
                    <li><a href="#" class="font-little-title">{% t navbar.item_3 %}</a></li>
                    <li><a href="#" class="font-little-title uk-button uk-button-default">{% t navbar.item_4 %}</a></li>
                  </ul>
                  <hr>
                  <ul class="uk-list">
                      {% if site.lang == "es" %}
                        {% capture link_en %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %}
                        {% capture link_pt %}{{ site.baseurl_root }}/pt{{ page.url}}{% endcapture %}
                        <li> <a href="{{ link_en }}" >English</a> </li>
                        <li> <a href="{{ link_pt }}" >Português</a> </li>
                      {% elsif site.lang == "pt" %}
                        {% capture link_es %}{{ site.baseurl_root }}{{ page.url  }}{% endcapture %}
                        {% capture link_en %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %}
                        <li> <a href="{{ link_es }}" >Español</a> </li>
                        <li> <a href="{{ link_en }}" >English</a> </li>
                      {% elsif site.lang == "en" %}
                        {% capture link_es %}{{ site.baseurl_root }}{{ page.url  }}{% endcapture %}
                        {% capture link_pt %}{{ site.baseurl_root }}/pt{{ page.url}}{% endcapture %}
                        <li> <a href="{{ link_es }}" >Español</a> </li>
                        <li> <a href="{{ link_pt }}" >Português</a> </li>
                      {% endif %}
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
</header>
