/**
 * Fonts:
 *  1. Space Mono [https://fonts.google.com/specimen/Space+Mono]
 *  2. Work Sans [https://fonts.google.com/specimen/Work+Sans]
 */



// 1. Space Mono https://fonts.google.com/specimen/Space+Mono
@font-face {
  font-family: 'Space Mono', monospace;
  src: url('fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} // SpaceMono-Regular

@font-face {
  font-family: 'Space Mono', monospace;
  src: url('fonts/Space_Mono/SpaceMono-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
} // SpaceMono-Italic

@font-face {
  font-family: 'Space Mono', monospace;
  src: url('fonts/Space_Mono/SpaceMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
} // SpaceMono-Bold

@font-face {
  font-family: 'Space Mono', monospace;
  src: url('fonts/Space_Mono/SpaceMono-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
} // SpaceMono-BoldItalic



// 2. Work Sans https://fonts.google.com/specimen/Work+Sans
@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('fonts/Work_Sans/WorkSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} // WorkSans-Regular

@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('fonts/Work_Sans/WorkSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
} // WorkSans-Black

@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('fonts/Work_Sans/WorkSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
} // WorkSans-Bold

@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('fonts/Work_Sans/WorkSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
} // WorkSans-ExtraBold

@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('fonts/Work_Sans/WorkSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
} // WorkSans-ExtraLight

@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('fonts/Work_Sans/WorkSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
} // WorkSans-Light

@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('fonts/Work_Sans/WorkSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
} // WorkSans-Medium

@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('fonts/Work_Sans/WorkSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
} // WorkSans-SemiBold

@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('fonts/Work_Sans/WorkSans-Think.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
} // WorkSans-SemiBold
