---
layout: default
---

<div id="hero-slider" class="uk-text-center uk-visible@m" uk-slider="center: true; autoplay: true; pause-on-hover: false;">
    <ul class="uk-slider-items uk-child-width-1-1 uk-light">
        <li class="uk-transition-toggle" tabindex="0">
            <img src="assets/images/hero-slider-desktop.jpg" alt="">
            <div class="uk-position-center uk-panel">
              <p class="font-mono animated fadeInUp delay-2s fast" style="font-size:1.5rem; margin-top:0;">{% t home.hero.text_pre %}</p>
              <h1 class="animated fadeInUp delay-2s fast">{% t home.hero.title %}</h1>
              <p class="animated fadeInUp delay-2s fast" style="font-size:1.3rem; margin:50px 0 30px;"">{% t home.hero.text_post %}</p>
            </div>
        </li>
        <li class="uk-transition-toggle" tabindex="0">
          <img src="assets/images/hero-slider-desktop.jpg" alt="">
            <div class="uk-position-center uk-panel">
              <p class="font-mono animated fadeInUp delay-2s fast" style="font-size:1.5rem; margin-top:0;">{% t home.hero.text_pre %}</p>
              <h1 class="animated fadeInUp delay-2s fast">{% t home.hero.title %}</h1>
              <p class="animated fadeInUp delay-2s fast" style="font-size:1.3rem; margin:50px 0 30px;"">{% t home.hero.text_post %}</p>
            </div>
        </li>
        <li class="uk-transition-toggle" tabindex="0">
          <img src="assets/images/hero-slider-desktop.jpg" alt="">
            <div class="uk-position-center uk-panel">
              <p class="font-mono animated fadeInUp delay-2s fast" style="font-size:1.5rem; margin-top:0;">{% t home.hero.text_pre %}</p>
              <h1 class="animated fadeInUp delay-2s fast">{% t home.hero.title %}</h1>
              <p class="animated fadeInUp delay-2s fast" style="font-size:1.3rem; margin:50px 0 30px;"">{% t home.hero.text_post %}</p>
            </div>
        </li>
    </ul>
</div>

<div id="hero-slider" class="uk-text-center uk-hidden@m" uk-slider="center: true; autoplay: true; pause-on-hover: false;">
    <ul class="uk-slider-items uk-child-width-1-1 uk-light">
        <li class="uk-transition-toggle" tabindex="0">
            <img src="assets/images/hero-slider-mobile.jpg" alt="">
            <div class="uk-position-center uk-panel">
              <p class="font-mono animated fadeInUp delay-2s fast" style="font-size:1.5rem; margin-top:90px;">{% t home.hero.text_pre %}</p>
              <h1 class="animated fadeInUp delay-2s fast">{% t home.hero.title %}</h1>
              <p class="animated fadeInUp delay-2s fast" style="font-size:1.3rem; margin:50px 0 30px;"">{% t home.hero.text_post %}</p>
            </div>
        </li>
        <li class="uk-transition-toggle" tabindex="0">
          <img src="assets/images/hero-slider-mobile.jpg" alt="">
            <div class="uk-position-center uk-panel">
              <p class="font-mono animated fadeInUp delay-2s fast" style="font-size:1.5rem; margin-top:90px;">{% t home.hero.text_pre %}</p>
              <h1 class="animated fadeInUp delay-2s fast">{% t home.hero.title %}</h1>
              <p class="animated fadeInUp delay-2s fast" style="font-size:1.3rem; margin:50px 0 30px;"">{% t home.hero.text_post %}</p>
            </div>
        </li>
        <li class="uk-transition-toggle" tabindex="0">
          <img src="assets/images/hero-slider-mobile.jpg" alt="">
            <div class="uk-position-center uk-panel">
              <p class="font-mono animated fadeInUp delay-2s fast" style="font-size:1.5rem; margin-top:90px;">{% t home.hero.text_pre %}</p>
              <h1 class="animated fadeInUp delay-2s fast">{% t home.hero.title %}</h1>
              <p class="animated fadeInUp delay-2s fast" style="font-size:1.3rem; margin:50px 0 30px;"">{% t home.hero.text_post %}</p>
            </div>
        </li>
    </ul>
</div>

{{ content }}
